[2019-02-17 13:47] shanalikhan commented on #761
Duplicate of #396

[2019-02-17 13:47] #761 closed

[2019-02-17 13:49] shanalikhan commented on #758
Currently its facing problems in OSS versions.

[2019-02-17 13:50] shanalikhan commented on #758
Duplicate of #668

[2019-02-17 13:50] #758 closed

[2019-02-17 13:51] shanalikhan commented on #759
Let me know, if it still exists. I will re open this issue.

[2019-02-17 13:51] #759 closed

[2019-02-17 13:52] shanalikhan commented on #747
I am closing this ticket, but always open for PR regarding any changes for the icon

[2019-02-17 13:52] #747 closed

[2019-02-18 06:37] developers-youcong commented on #772
Thank you!

By the way, your plug-in is packaged with webpack, but I use webpack to package, why is the error report display not available?

My process is as follows:

"Scripts" : {

"Vscode :prepublish":" NPM run tslint-check && webpack --mode production",

"Compile" : "webpack",

"Watch ": "webpack --mode development --watch",

"Postinstall" : "node. / node_modules/vscode/bin/install",

"Tslint

[2019-02-18 06:45] developers-youcong commented on #772
Common.ts, where this code is shown below:

If (askToken) {

If (cusSettings. OpenTokenLink) {

// replace the github token here with my own

Vscode.com mands. ExecuteCommand (

"Vscode. Open",

Vscode. Uri. Parse (" https://github.com/settings/tokens ")

);

}

If I rewrite githubService, I major changes should be the https://github.com/settings/tokens

After changing it to a token generated by m

[2019-02-18 10:03] shanalikhan commented on #772
you need to run `vsce package` in order to create the extension package. If you are getting error try running compile command and other commands to see the errors.

Yes see the create gist and save gist functions in the githubservice that uploads and create gist.

As you are working on order to create yours token generation and upload and download.
I will suggest you to work in a way that Settings

[2019-02-18 18:53] ioprotium commented on #754
@shanalikhan we have a problem. VS doesn't supply with a way to determine what changed in the file. The watcher is triggered only after the file was changed and saved to the system. So, if we need to determine if the changes must be upload we should compare the local file against the gist. This implies download the entire gist. Am I right?

[2019-02-19 01:42] figureai commented on #312
Im having this issue

[2019-02-19 05:34] developers-youcong commented on #772
For your first question:

My packaging process is as follows:

npm run vscode: prepublish

npm run the compile

npm run watch

npm run postinstall

npm run tslint - check

npm run format

The main reference is the script in your package.json.

For your second question:

Thank you very much for your detailed answer.

By the way, by the way, I have read your githubService code, which is mainly relat

[2019-02-19 06:01] developers-youcong commented on #772
![image](https://user-images.githubusercontent.com/45055576/52993209-5fbfa780-344e-11e9-9d07-65ee567000c3.png)
I put the source code directly into the extension folder in vscode, which is generally for plug-ins.

But after I put it in, why did the display need to be reloaded when I searched the plug-in market?

When I click reload, it is equivalent to downloading under the current extension folder

[2019-02-19 16:36] MattMorgis opened #776 "Why is NODE_TLS_REJECT_UNAUTHORIZED set to 0?"
🐛 **Describe the bug**
When running my app with Node.js 11 within VS Code, I get the following message when making an `https` request:

When I run my app with Node.js 11 **without** VS Code, I do not get this message.

I narrowed it down to this extension setting the variable to `0`: https://github.com/shanalikhan/code-settings-sync/blob/e80b2ceca227490e5e12f33d419659343e2a705c/src/environmentPath

[2019-02-19 18:08] niravjethva commented on #774
same problem here

[2019-02-20 06:01] lightydo commented on #774
same
 **Visual Studio Code Version :** [ 1.31.1]
 **Code Settings Sync Version :** [ 3.2.5]
 **Standard or Insiders :** [ Standard ]
 **Operating System :** [ Fedora 28 ]
 **Occurs On:** [ Download ]
 **Proxy Enabled:** [ No ]

[2019-02-20 14:18] shanalikhan commented on #776
This is done , several users reported earlier that they are facing problems in certificates while connecting to github.

Is there any problem you are facing with this configuration ?

[2019-02-20 14:21] shanalikhan commented on #772
Actually instead of supporting GitLab, and other tools.
there is already issue opened that intends to support the Settings Sync with simple git repository, its the user choice on pushing the complete repository on github, gitlab or any other git services - That issue is paid one, If you are willing to work, feel free to start working on that one. Payment will be made once it completes.

See : http

[2019-02-20 14:28] MattMorgis commented on #776
Yes, this is highly insecure. You are disabling TLS validation for any process running within VS Code. Now *my app* does not validate SSL certificates when run with VS Code

[2019-02-21 09:05] marcellourbani commented on #776
@shanalikhan I agree

Just had the same issue: users complained my extension didn't validate certificates and all looked fine for me as you disabled the checks.
Much better if you add an option to install the right root CA

[2019-02-21 09:44] gadmyth opened #777 "how to modify github's gist access token?"
I enter the wrong gist access token, but I can't modify it, even if I reinstall the extension again. Can somebody help me?

[2019-02-21 11:08] shanalikhan commented on #777
Here are the details for Global Settings for Settings Sync from which you can change the token.

https://github.com/shanalikhan/code-settings-sync#global-settings

[2019-02-21 11:08] #777 closed

[2019-02-21 17:18] shanalikhan commented on #776
I am open for PR if it solves the problem in both ways, installing CA and not using validation.

[2019-02-21 17:24] shanalikhan commented on #754
Yes, you are right.
We need to extract the `settings.json` file only from the gist and compare it.

[2019-02-21 18:16] fullenw1 commented on #745
No exception. The Output view of the terminal is empty.
I can only view this in the Log (Extension Host):
`[2019-02-21 19:01:30.167] [exthost] [info] ExtensionService#_doActivateExtension Shan.code-settings-sync {"startup":true,"activationEvent":"*"}`
`[2019-02-21 19:01:30.167] [exthost] [info] ExtensionService#loadCommonJSModule C:\Users\UserName\.vscode\extensions\shan.code-settings-sync-3.2.5\o

[2019-02-21 18:16] ioprotium commented on #754
I've got another idea. Every time the upload action is triggered we can persist a copy without all the `@ignore` pragmas, then we use it to compare changes in the next trigger. If other changes rather than `@ignore` were done, the file is uploaded and a new copy is generated.

What do you think? Could you provide me the needed functions to create and read this "clean" settings file?

[2019-02-21 19:34] crankedguy opened #778 "Possibility for local extensions/vsix packages?"
I have quite a few private extensions running which I won't place on the marketplace.
As only the extension names are synced and then downloaded/installed through CLI these extensions are always missed.

Any possibility to provide vsix packages maybe in the user directory from where they are uploaded to git and then downloaded and installed? Did you ever think of such a thing?
It is always a hassl

[2019-02-22 06:05] KenanHArik commented on #774
Ditto here. Any workaround?

[2019-02-22 08:04] nikolalukovic commented on #776
The solution should *never* be a complete disable of such a low level security feature which is paramount for secure systems. Especially if it side effects into the whole process.
The problem is with those users' machines/networks and a library should  *never* try and fix a problem that does not even come remotely close to its primary function.

[2019-02-22 10:16] kron4eg commented on #776
Indeed. I had to uninstall the plugin for now to restore normal behaviour.

[2019-02-22 11:01] marcellourbani commented on #776
Me too.

[2019-02-22 14:44] MattMorgis commented on #776
If users report SSL trust issues, they should be sent here: https://code.visualstudio.com/docs/setup/network#_ssl-certificates

I sent PR #779 which removes the disabling of TLS certificate validation, which would make this safe to use again.

[2019-02-22 17:59] YouthInnoLab opened #780 "Download Other User's Gist without Token"
I try to setting sync to a new gist, but it was belongs to a github author, I only know its gist, but not the token (obviously), how I upload and using this gist (so my configuration will be the same as his), I am new in VSCODE, please give me the advice, thanks.

[2019-02-24 16:15] hswami opened #781 "Unable to download settings in VS Code for macOS"
🐛 Download settings on VS Code for macOS shows errors in Developer Tools

🌴 **Visual Studio Code Version :** 1.31.1 1b8e8302e405050205e69b59abb3559592bb9e60 2019-02-12T02:10:22.500Z
🌴 **Code Settings Sync Version :** 3.2.5
🌴 **Standard or Insiders :** Standard
🌴 **OSS or Portable :** OSS
🌴 **Operating System :** macOS Mojave 10.14.3 (18D109)
🌴 **Occurs On:** Download
🌴 **Proxy Enabled:** No
🌴 **Gi

[2019-02-25 10:42] shanalikhan commented on #754
Where you will persist the copy ? Do you have any ideas about that or you are looking to save the copy in `User` folder.

If you look here, I'm reading the files using this function and saving in a gist.

https://github.com/shanalikhan/code-settings-sync/blob/master/src/sync.ts#L159

Here is the change detection event that will be hit on changing the `settings.json` file

https://github.com/shanal

[2019-02-25 10:44] shanalikhan commented on #780
https://github.com/shanalikhan/code-settings-sync#global-settings

See the Global Settings, you need to turn on the `downloadPublicGist` in order to download other user gist.

[2019-02-25 10:49] shanalikhan commented on #778
Nice idea.

What i think can be done is in global settings you can setup the path of `vsix` package of certain extensions. If Settings Sync is unable to find extension on marketplace it should look on those path and install using packages offline.

[2019-02-25 10:50] shanalikhan commented on #778
Currently low priority for me between.
I'm open for PR and assist anyone who is willing to work and release new version.

[2019-02-25 11:52] EddieNejadi commented on #759
Hi The issue is resolved after later update to:
Version: 1.31.1 (user setup)
Commit: 1b8e8302e405050205e69b59abb3559592bb9e60
Date: 2019-02-12T02:20:54.427Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763

[2019-02-25 14:23] ioprotium commented on #754
Tell me some folder that is isolated or it will not generate side effects and it should be always available for the extension (maybe created after installation, or the extension folder itself)

[2019-02-25 19:04] LuisUrrutia commented on #756
Same problem here:
The only "Error" in the console was:
<img width="1302" alt="captura de pantalla 2019-02-25 a la s 16 02 41" src="https://user-images.githubusercontent.com/3771248/53361612-eb39ac80-3916-11e9-90cb-f16df9552c84.png">

And the portable folder has:
<img width="624" alt="captura de pantalla 2019-02-25 a la s 16 04 23" src="https://user-images.githubusercontent.com/3771248/53361669-0e

[2019-02-26 04:45] rickrankin commented on #774
Getting the same error on settings download with 1.32-insiders

[2019-02-26 08:14] vietduc01100001 commented on #122
I'm having the same issue. Whenever I change my settings it doesn't trigger Auto Upload. I checked the Developer Console while I changed settings, it doesn't log out anything.

[2019-02-26 10:40] #780 closed

[2019-02-26 13:02] LuisUrrutia commented on #781
related to #765

at module.exports.e.exports.i.fetch.then.n.text.then.r (/Users/himanshuswami/.vscode/extensions/shan.code-settings-sync-3.2.5/out/extension.js:7:1676)
at process._tickCallback (internal/process/next_tick.js:68:7)

[2019-02-26 13:25] LuisUrrutia commented on #774
@Amoystyle It looks like you're behind a proxy, and haven't set up your proxy config properly and you may need help from your network administrator `xiegongji@gmail.com` (The email is on your screenshot)
@lightydo your error isn't related to this issue and I'm pretty sure that isn't related to this extension at all. Could you try again without any other extension but code-settings-sync?

[2019-02-26 14:05] Amoystyle commented on #774
OK, I try it again

[2019-02-26 15:39] MichelDiz opened #784 "Can't upload - Mac OS."
🐛 **Describe the bug**
A clear and concise description of what the bug is. You are always welcome to check the [Troubleshooting](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting) section before filing the ticket.

🌴 **Visual Studio Code Version :** 1.31.1
🌴 **Code Settings Sync Version :** 3.2.5
🌴 **Standard or Insiders :** Standard
🌴 **OSS or Portable :** OSS
🌴 **Operating S

[2019-02-26 15:46] shanalikhan commented on #784
https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting#invalid-gist-id-or-invalid--expired-github-token

[2019-02-26 15:47] MichelDiz commented on #784
yeah, is that one.

[2019-02-26 15:54] MichelDiz commented on #784
Well, I've "Reset" it. And tried again. Works, but it created a new (diff) gist for this settings. Both (the old and new) are there. That's odd, but okay...

[2019-02-26 15:54] #784 closed

[2019-02-26 17:21] shanalikhan commented on #784
you can set the gist id to old one, instead of download, upload the settings there.

[2019-02-26 18:09] KenanHArik commented on #774
FYI I was able to get things working again with this workaround:
1) down-grade the add-in version. I chose several revs back.
2) successfully syncing to my gist
3) upgrading the add-in version.

Now everything is back to normal for me.

[2019-02-26 18:28] LuisUrrutia commented on #774
@KenanHArik did you have exactly the same error (the red one)? If that's so, could you share us the rev?

[2019-02-27 00:20] joehavila commented on #774
I had the same problem. Turns out I simply entered the gist id incorrectly. I thought this was the name of the gist that was used when I initially uploaded my settings. It is in fact an ID number. To get this to work correctly on a fresh download of settings, follow these steps:

1. Reset the extension settings (ctrl-shift-p sync reset).
2. Initiate a download. (ctrl-shift sync download)
3. You wi

[2019-02-27 03:16] rickrankin commented on #774
Turns out that I think I probably reversed the gist id and token. I cleared the settings and tried again and it's working now.

[2019-02-27 03:30] #774 closed

[2019-02-27 03:39] Amoystyle commented on #774
Visual Studio Code add setting:
"http.proxySupport": "off"

[2019-02-27 05:35] lightydo commented on #774
There is no other extension installed and I keep getting the same error.
Where Can I download a older version of the extension to test?

[2019-02-27 09:44] #781 closed

[2019-02-27 11:48] shanalikhan commented on #754
https://code.visualstudio.com/api/references/vscode-api#ExtensionContext

See here, you can persist the data in states provided by visual studio code api and read to compare.

[2019-02-27 22:36] LuisUrrutia commented on #774
@shanalikhan check this comment.
@lightydo thanks for the feedback, but the log that you provided has nothing to do with this issue. The warning about Octokit are just that, warnings, but not an error.

[2019-03-02 22:53] drewswaycool opened #785 "Adding token via command palette creates a new gist automatically."
I had sync setup on one machine and went to download settings on another machine.

After generating a new token, and putting it in via the command palette in VSCode, it created and uploaded a new gist... This is problem as I didn't want to create a new gist, I just wanted download the current one I had after putting in the new token.

The only way to get the correct settings downloaded is to manua

[2019-03-03 10:45] c24w commented on #668
And for the extra lazy :)

`sed -i 's#"bin/code"#"/bin/code"#g' ~/.vscode-oss/extensions/shan.code-settings-sync-*/out/extension.js`

[2019-03-04 14:02] gpion commented on #463
@shanalikhan so no solution or workaround to have the extension works behind a corporate proxy requiring authentication then?
BTW, I've also tried to set
`"http.proxy": "http://<user>:<pass>@<proxyhost>:<proxyport>" `
in settings.json and I'm getting the following error in dev console
`HttpError: request to https://api.github.com/gists?access_token=<mytoken> failed, reason: getaddrinfo ENOTFOUND <

[2019-03-04 14:33] gsemet commented on #463
Use HTTP_PROXY and HTTPS_PROXY environment variables (or lower case version)

[2019-03-04 14:35] shanalikhan commented on #785
On Downloading, it ask for both token and gist.
you need to add both in order to download the existing GIST.

[2019-03-04 14:35] #785 closed

[2019-03-04 15:00] gpion commented on #463
Just tried it,
I can confirm that env variables are correctly set since a command line curl works fine (and not after the variables have been unset)
However, in VS Code I'm getting the exact same error:
`HttpError: request to https://api.github.com/gists?access_token=<mytoken> failed, reason: getaddrinfo ENOTFOUND <user> <user>:80`

 (I've commented out http.proxy in settings.json)

[2019-03-04 19:20] crankedguy commented on #778
Yes this seems like a great one! I did not find a setting for setting a path in the global settings, only found --extensions-dir to set the root path in general from command line.
Sadly I have no spare time available right now. I think what I would do would be something in this direction : A certain directory has to be created in user directory for the vsix packages code-settings-sync should sync.

[2019-03-05 11:05] gpion commented on #463
@gsemet @shanalikhan no other idea of a possibly working solution ?

[2019-03-05 12:07] shanalikhan commented on #776
Released with v3.2.6

[2019-03-05 12:07] #776 closed

[2019-03-05 12:08] shanalikhan commented on #756
Its fixed with new version v3.2.6

let me know in case of issue.

[2019-03-05 12:08] #757 closed

[2019-03-05 15:01] KolyaKorruptis commented on #756
I just got updated to Version: 3.2.6. of Settings Sync on my portable vscode instance.
I uploaded my settings and now the extensions array is completely empty. Meanwhile I have about 30 extensions installed.
Before the 3.2.6 update extensions were only noted partly, as described by OP.

[2019-03-05 15:37] shanalikhan commented on #756
@LuisUrrutia can you look into this.
Feel free to send PR, i will release in new version ( if there is still something missing )

[2019-03-05 16:14] LuisUrrutia commented on #756
@KolyaKorruptis can you open the developer tools of VSCode
<img width="374" alt="screen shot 2019-03-05 at 1 13 30 pm" src="https://user-images.githubusercontent.com/3771248/53819333-813d8a80-3f48-11e9-9451-51e18e45592e.png">

Try to upload again and share the console log?

[2019-03-05 16:23] LuisUrrutia commented on #756
@KolyaKorruptis cool! Now I know what the problem is. Are you sure that this extension worked before in the same VSCode portable and in the same OS?

[2019-03-05 16:23] KolyaKorruptis commented on #756
Yes, I'm sure. It worked partially, as OP describes in the first post.

[2019-03-05 16:25] LuisUrrutia commented on #756
@shanalikhan can u re-open this issue and assign it to me?

[2019-03-05 16:32] shanalikhan commented on #756
It's reopened
U can send PR

[2019-03-05 20:53] gsabater commented on #756
I have the same issue as @KolyaKorruptis
My extensions now are an empty array and autodownloading the settings from other computer removed all extensions

[2019-03-05 21:07] LuisUrrutia commented on #756
@gsabater windows, right?

[2019-03-05 21:21] gsabater commented on #756
@LuisUrrutia yes, on both machines

[2019-03-05 21:22] HJerem commented on #756
Same problem here, everything working fine except extensions.json file always empty.
I'm on Windows 10, Visual Studio Code 1.31.1
It was working fine some weeks ago.

[2019-03-05 22:01] tibmeister opened #788 "GitHub Enterprise"
🐛 **Describe the bug**
When trying to use my GitHub Enterprise, I get the error  "Sync: Internet not connected or unable to connect to GitHub. Exception logged in Console".  I changed the "githubEnterpriseUrl" setting to https://api.github.mycompany.com" and have verified it's valid in my browser.
Is there advanced logging I can enable to see exactly what is going on?

🌴 **Visual Studio Code Versi

[2019-03-06 02:06] zcmk123 commented on #756
same problem with the empty extensions.json ....

[2019-03-06 02:56] tillig opened #789 "Extensions settings cleared in uploaded gist; subsequent download flushes all installed extensions"
🐛 **Describe the bug**
As of version 3.2.6, any time I upload my settings to my gist, the list of extensions in extensions.json is entirely empty. Thus, if I then download my settings in a different instance of VS Code... it removes all extensions.

🌴 **Visual Studio Code Version :** 1.31.1
🌴 **Code Settings Sync Version :** 3.2.6
🌴 **Standard or Insiders :** Standard
🌴 **OSS or Portable :** OSS
🌴

[2019-03-06 03:16] chalkygames123 commented on #789
Related: https://github.com/shanalikhan/code-settings-sync/issues/756

[2019-03-06 03:19] hihahihahoho commented on #756
Same problem here

[2019-03-06 03:37] tillig commented on #789
Yep, could be duplicate. I am using the installed version of VS Code, not portable, but it sounds the same.

[2019-03-06 07:28] Gigacee commented on #756
Same issue on my PC.

environment:
Windows 10 Pro 64bit
Settings Sync v3.2.6
Visual Studio Code v1.31.1 (User Installer)

settings:
[code]

[2019-03-06 09:56] shanalikhan commented on #789
Yes, it will be fixed a day or two.

[2019-03-06 09:56] stevenbaert opened #790 "Sync not happening"
Hi,

I have installed Sync in Visual Code and was able to succesfully upload settings (machine01), then tried on another machine (machine02) and configured Sync again. No errors but Sync does not come through (machine02)

Upload on machine01 was ok:
--------------------
Files Uploaded:
  extensions.json > extensions.json
  settings.json > settings.json

Extensions Ignored:
  No extensions ignored.

[2019-03-06 09:57] shanalikhan commented on #790
please use the proper issue format while posting issue so i know all the details.

[2019-03-06 10:56] stevenbaert commented on #790
What is the "proper issue format" (what input do you expect from me)?

[2019-03-06 11:00] shanalikhan commented on #790
🐛 **Describe the bug**
A clear and concise description of what the bug is. You are always welcome to check the [Troubleshooting](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting) section before filing the ticket.

🌴 **Visual Studio Code Version :** [ VERSION_HERE ]
🌴 **Code Settings Sync Version :** [ VERSION_HERE ]
🌴 **Standard or Insiders :** [ _here_ ]
🌴 **OSS or Portable

[2019-03-06 11:02] LuisUrrutia commented on #790
Related to #789

[2019-03-06 11:05] LuisUrrutia commented on #789
So sorry, my PR #782 broke the extension sync on windows systems because the path delimiter (Linux/macOS: `/` and Windows `\`) but it should be fixed with #791.
@shanalikhan I think that It should be released as a hotfix, right?

[2019-03-06 12:48] shanalikhan commented on #789
released `v3.2.7`

[2019-03-06 12:50] shanalikhan commented on #756
It should be fixed in new version `v3.2.7`.

Let me know if there is any problem.

[2019-03-06 12:51] shanalikhan commented on #790
Duplicate of #789

[2019-03-06 12:51] #790 closed

[2019-03-06 13:03] KolyaKorruptis commented on #756
@shanalikhan Looking good.

All active extensions were uploaded. One inactivated extension wasn't. I guess that's expected behaviour.

[2019-03-06 13:09] #756 closed

[2019-03-06 13:10] #789 closed

[2019-03-06 13:11] shanalikhan commented on #788
See on developer tools, from help menu.

[2019-03-06 16:11] tillig commented on #789
Just tried it, works great. Thanks for the quick fix!

[2019-03-06 17:24] tillig opened #793 "Pipe delimiter in files disables ability to clone gist"
🐛 **Describe the bug**
Usually you can [fork and clone gists](https://help.github.com/en/articles/forking-and-cloning-gists) just like any other git repo. This is useful in cases like #756 where an upload corrupts settings and you want to try and roll back to a previous settings version.

However, files stored in child folders (like snippets) are done so by naming the file using a pipe delimiter:

[2019-03-07 00:07] Gigacee commented on #756
It looks like no problem. Thanks!

[2019-03-07 17:06] bernardop opened #794 "Set NODE_TLS_REJECT_UNAUTHORIZED to 0 conditionally behind a settings flag"
After the 3.2.6 update I haven't been able to use this extension. Whenever I try to update/upload I get an error (Sync: Internet not connected or unable to connect to GitHub. Exception logged in Console). When I look at the console there's a couple of "unable to verify the first certificate" errors. I have tried setting my `http.proxyStrictSSL` to `false` and launching vs code with the `--ignore-c

[2019-03-07 17:15] shanalikhan commented on #794
I would recommend you to discuss this on:

https://github.com/shanalikhan/code-settings-sync/issues/776

[2019-03-07 17:26] bernardop commented on #776
@MattMorgis after the 3.2.6 update I haven't been able to use this extension. Whenever I try to update/upload I get an error (Sync: Internet not connected or unable to connect to GitHub. Exception logged in Console). When I look at the console there's a couple of "unable to verify the first certificate" errors. I have tried setting my `http.proxyStrictSSL` to false and launching vs code with the `

[2019-03-07 18:32] FancyBanana commented on #143
Concerning code limitation, i saw that you use vscode api to get list of extentions, but you can also get list of all extention by calling CLI `/bin/code --list-extentions`. Since you are already capable calling code in cli for installing extentions, maybe you could look into it?

[2019-03-08 10:04] cr3ative commented on #641
It looks like the original feature intent was added with `disableUpdateMessage`? Might be good to add this flag to the documentation.

[2019-03-08 12:49] #788 closed

[2019-03-08 12:51] shanalikhan commented on #723
Try now on `v3.2.7` and let me know, in this version there is some improvements made on installing extensions.

If you are using OSS mode - there is already issue opened https://github.com/shanalikhan/code-settings-sync/issues/668

[2019-03-10 21:14] marioortizmanero opened #796 "What's the difference between Gist ID and Gist token?"
I have an already existent Gist with my data in but I can't download it. When I'm doing the setup I'm asked both the "GitHub Personal Access Token" and the "Gist ID". Only the ID appears in the guide so I don't know what to type in the first dialog.  When I download the settings I get an `Invalid/Expired token` error, and `Bad credentials` in the console.

Edit: The ID is indeed the username

[2019-03-10 21:21] #796 closed

[2019-03-11 07:20] apiep commented on #723
I have faced the same issue, but on the output console there is an error
[code]

[2019-03-11 18:22] aniforprez commented on #143
+1 on it at least not uninstalling disabled extensions. It's a real chore managing extensions between multiple machines right now. Eg. I only do Python work on my work laptop, I only do JS on my personal laptop. I'd like to disable JS extensions on my work and Python extensions on my personal laptop. Right now everything being enabled makes startup that much slower

[2019-03-12 15:11] EvangelosKolimitras commented on #689
@levblanc  _Solution to me:_ my friend
1st: Sync: Reset Extension Settings
2nd: Generated
3rd: Paste the **generated token** into vscode by pressing {Ctrl+Shift+p > paste}
4th: Go to your user https://gist.github.com/{user_name}/{gitst_id} and copy the gist_id
5th:  Go to vscode and open settings.json file and add
[code]

Restart vscode.

Done!

Hope it helps!

[2019-03-12 21:12] #794 closed

[2019-03-14 17:31] tibmeister commented on #788
So I did find the logging, but the root issue is still unresolved.   Here's the error message;
`HttpError: request to https://api.github.mycompany.com/gists failed, reason: Hostname/IP does not match certificate's altnames: Host: api.github.mycompany.com. is not in the cert's altnames: DNS:github.mycompany.com`
Is there an option to ignore SSL cert errors if we choose to?  I can see this being a p

[2019-03-15 16:14] shanalikhan commented on #755
I think you guys have auto download turned on.
Turn off the autoDownload and let me know.

Try with the latest version of Settings Sync

[2019-03-16 04:17] nhducit opened #797 "Cannot save file changes with VS code 1.32.3"
🐛 **Describe the bug**
Cannot save file changes when enable this plugin

https://github.com/Microsoft/vscode/issues/70431#issuecomment-473496943

🌴 **Visual Studio Code Version :** 1.32.3
🌴 **Code Settings Sync Version :** 3.2.7
🌴 **Standard or Insiders :** Standard
🌴 **OSS or Portable :** [ _here_ ]
🌴 **Operating System :** MacOS 10.14.2
🌴 **Occurs On:** -
🌴 **Proxy Enabled:** No
🌴 **Gist Id:**

[2019-03-16 05:51] #797 closed

[2019-03-16 05:51] nhducit commented on #797
I realized that this bug still happens after disable settings sync

[2019-03-16 11:17] bearmc27 commented on #755
After using the extension without auto-up and auto-down for about 2 month. I believe that there are some problem with vscode itself rather than your extension, however, reinstalling or installing vscode on a fresh OS (tested on both windows 10 home and ubuntu 18.10) doesn't seems to help with the problem. And i always update to the latest vscode-sync.

I can't reproduce this problem anymore, but i

[2019-03-16 13:25] #755 closed

[2019-03-16 14:12] gpion commented on #463
Ok then: I've switched to a OneDrive based approach using another plugin. Hope it will suit my needs.

[2019-03-16 19:01] Jvalal opened #798 "Can't update gist setting"
🐛 When I try to update my gist with a different / correct gist ID I keep getting an error

![image](https://user-images.githubusercontent.com/3803053/54480227-19f2c680-47e3-11e9-8cee-fad0015080ea.png)

🌴 **Visual Studio Code Version :** [ 1.31 AND 1.32 ]
🌴 **Code Settings Sync Version :** [ 3.27 ]
🌴 **Standard or Insiders :** [ _here_ ]
🌴 **OSS or Portable :** [ _here_ ]
🌴 **Operating System :** [

[2019-03-17 08:06] SirTwsted opened #799 "Sync doesnt want to upload."
When trying to upload via SYNC , I get an error popup window and the SYNC
doesnt seem to want to do its job.
Yes, I have already set up a GIST as I followed the instructions.

VS-Code Version: 1.32.3 (system setup)
Date: 2019-03-14T23:43:35.476Z
Electron: 3.1.6
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 6.1.7601
.
![Screenshot_38](https://user-images.githubusercontent.

[2019-03-17 09:18] shanalikhan commented on #799
whats the error logged in console ?

[2019-03-17 20:05] SirTwsted commented on #799
for some odd reason, there is nothing in console.

[2019-03-18 00:39] robertmarriott commented on #487
I agree. This is really frustrating. The configuration of this extension is not user-friendly. All I want to do is pull the settings from a public gist I created. Like wongjiahau, I don't want to create a new github token because the gist is already publicly visible. I tried pasting the URL of the github gist into the extension settings, as suggested by willingram, but I still get an error popping

[2019-03-18 10:32] shanalikhan commented on #799
The console is available on Help Menu > Toogle Developer tools
are shown in the image.

[2019-03-18 10:34] shanalikhan commented on #506
@PicchiKevin

It means, you currently Settings Sync require github account, therefore github Button to connect is required in order to enter the required details

[2019-03-18 10:39] shanalikhan commented on #508
Join slack channel to discuss directly with me if anyone who starts working on it.

[2019-03-18 11:17] digeomel commented on #799
I have the same problem, and the error I get in the console is:

![image](https://user-images.githubusercontent.com/3295889/54526643-a8984c80-4977-11e9-9b93-de3138691a52.png)

In my vscode setttings I have:

"http.proxyStrictSSL": false,

And I'm on Windows 10 behind a corporate proxy.

[2019-03-18 11:19] digeomel commented on #799
Notice that back in summer when I installed the extension, I managed to upload fine:

"lastUpload": "2018-08-27T09:37:00.854Z",

[2019-03-18 13:18] aashutoshrathi commented on #506
@shanalikhan You mean instead of asking access token we have to implement Auth using GUI right?

[2019-03-18 16:43] shanalikhan commented on #506
Yes.
Auth using GUI alongwith GUI that should have all the things present for the Settings Sync.
Example is the page for Git Lens that shows up when you install that extension.

[2019-03-18 18:45] Jvalal commented on #798
Bump!

[2019-03-19 08:43] nqdy666 commented on #471
I have then same problem.
error in developer tools
[code]

[2019-03-19 09:19] odinggg commented on #735
@shanalikhan 我今天ubuntu下也报这个错误。报错如下
![Snipaste_2019-03-19_17-19-11](https://user-images.githubusercontent.com/20553157/54594209-29844080-4a6b-11e9-90d3-e5cd7ee29951.png)

[2019-03-19 11:35] przpl commented on #799
I can't upload settings because I have the following error:

![Screenshot from 2019-03-19 12-28-42](https://user-images.githubusercontent.com/9073573/54602956-5c1a4300-4a43-11e9-92fc-c9bf281dfc50.png)

[2019-03-19 12:00] shanalikhan commented on #799
https://github.com/shanalikhan/code-settings-sync/issues/799#issuecomment-473869577 is due to certificates problem. see the link here
https://code.visualstudio.com/docs/setup/network#_ssl-certificates

Yes as Settings Sync was completely disabling the SSL certificates issue which was reported and fixed : https://github.com/shanalikhan/code-settings-sync/issues/776
Check the comments there and see

[2019-03-19 17:59] bernardo-amaral opened #800 "Implement sync pragmas to keybindings"
💡 **Is your feature request related to a problem? Please describe.**
In the Settings, the user can choice what he wants sync, with false and true values.

💡 **Describe the solution you'd like**
- If the user wants not sync settings, that data will not will be uploaded to your gist.
- If the user wants not sync extensions, that data will not will be uploaded to your gist.
- If the user wants not sy

[2019-03-20 16:00] hfcheng66 opened #801 "auto upload doesn't work when make change on settings"
Auto upload doesn't work when make change on settings (MAC)

auto uploading is on.
using cmd+, to open settings page, make change config change. sync setting doesn't upload settings.
if I open settings.json file and press cmd+s to save the file, sync setting starts sync after 5 seconds, worked as expected.

🌴 **Visual Studio Code Version :** [ 1.32.3 ]
🌴 **Code Settings Sync Version :** [ 3.2.7 ]

[2019-03-20 16:48] shanalikhan commented on #798
check the troubleshooting page from the wiki page to how to resolve the Not found errors.

[2019-03-21 00:55] rafaelrenanpacheco commented on #801
Exactly same behavior on Arch Linux.

:palm_tree: Visual Studio Code Version : [ 1.32.3 ]
:palm_tree: Code Settings Sync Version : [ 3.2.7 ]
:palm_tree: Operating System : [ Arch Linux 5.0.2 ]
:palm_tree: Occurs On: [Upload]
:palm_tree: Proxy Enabled: [ No ]

[2019-03-21 15:04] njkevlani commented on #800
This can be done by adding a setting like `sync.excludeSettings` which is a list of settings that are not supposed to be synced.
For example, to exclude font setting,

[code]

Something similar can be implemented for keybindings and extensions as well.

[2019-03-21 15:18] shanalikhan commented on #800
**Custom Sync for `settings.json`**

If you are looking to exclude the settings keys from being sync.  See the details here :

https://github.com/shanalikhan/code-settings-sync/wiki/Sync-Pragmas#ignore-settings

**Custom Sync for Extensions**

If you want to disable the extension sync, set `sync.syncExtensions` to `false` to disable the extensions.

If you want to remove some extensions from sync

[2019-03-21 15:20] shanalikhan commented on #800
For keybindings, i would like you to be-specific with your scenarios and example about what you are looking to achieve.

[2019-03-21 16:26] njkevlani commented on #800
I think it would be better if we use `@sync-ignore` like implementation for `keybinding.json`.

Something like https://gist.github.com/njkevlani/d79973d50258fe4312786b198746da3f#file-keybindings-json

[2019-03-21 22:13] Bill-Stewart opened #802 "Internet Not Connected or Unable to Connect to GitHub. Exception Logged in Console"
🐛 **Describe the bug**
Getting this message: Internet Not Connected or Unable to Connect to GitHub. Exception Logged in Console

🌴 **Visual Studio Code Version :**  1.32.3 (user setup)
🌴 **Code Settings Sync Version :** 3.2.6 and 3.2.7
🌴 **Standard or Insiders :** N/A
🌴 **OSS or Portable :** N/A
🌴 **Operating System :** Windows 10 x64
🌴 **Occurs On:** Any
🌴 **Proxy Enabled:** No
🌴 **Gist Id:** a5f

[2019-03-21 23:06] arnohovhannisyan commented on #801
Same on Windows 10 1809 Build 17763.379

[2019-03-22 01:17] angelleija commented on #490
How do you make it valid? I'm having the same issue.

[2019-03-22 09:52] shanalikhan commented on #490
Try resetting the settings after taking a backup of token.

[2019-03-22 11:07] sebastien-p commented on #487
Same as @robertmarriott here, what can we do @shanalikhan? Thanks :)

[2019-03-22 14:16] tpatel11 commented on #487
I was having the same issue but I got it working. After trying few things, I went back and I tried uploading the settings from my source machine and it gave me the information like below in output window in VSCode:
`GitHub Token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GitHub Gist: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GitHub Gist Type: Secret`

Now on my other machine, when asked for Token enter the

[2019-03-22 15:06] Harvzor commented on #668
I had this issue with VSCodium.

The issue was that the cmd which could be run in the CLI is `vscodium` and not `code`.

This could be tested by running `vscodium` and `code` in a terminal. Only `vscodium` actually opens the editor.

Fixed by navigating to `C:\Program Files\VSCodium\bin`, copying the `vscodium.cmd` and renaming it to `code.cmd`.

[2019-03-22 21:04] robertmarriott commented on #487
tpatel11 correctly pointed out that the gist has to be entered with the ID [only], and not the complete URL. There error went away after I did that [and] entered my token.

However, this extension uploaded the settings from my fresh install of VS Code and now my gist on github is competely overwritten -- wiped out! That wouldn't have happened if the extension allowed you to download the settings i

[2019-03-23 06:55] radiocity commented on #802
[code]

[2019-03-23 07:25] radiocity commented on #802
The following steps help to me:

1. [Install previous versions](https://code.visualstudio.com/updates/v1_30#_install-previous-versions) of code-settings-sync
2. Generate [new token](https://github.com/settings/tokens/new) with `gist` scope selected
3. Go to `F1` → `Sync: Advanced Options` → `Sync: Edit Extension Local Settings`
4. Fill `token` parameter with new token
5. Save changes
6. [Install l

[2019-03-23 09:00] MstrBlonde commented on #800
I can't figure out what "complete name" is for any given extension, can you please clarify?

[2019-03-23 09:48] njkevlani commented on #800
@MstrBlonde

"complete name" = Unique Identifier without publisher id.

for example see https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync

Unique Identifier: Shan.code-settings-sync

So the "complete name" = `code-settings-sync`

[2019-03-23 19:33] shanalikhan commented on #800
Yes this can be done for `keybindings.json`.

P.S : Public edit is enabled for Wiki. If you guys think documentation can be improved, just edit those pages and improve it, that would be great help to other users :)

[2019-03-23 19:36] shanalikhan commented on #802
Whats the exception logged in console ?

[2019-03-23 19:40] shanalikhan commented on #793
Actually for reverting and other things, Settings Sync will have #413 feature.
So for GIST, I am not looking to improve ,rather move to `git` sync instead of `gist` sync.

So closing this issue.

[2019-03-23 19:40] #793 closed

[2019-03-23 19:40] #798 closed

[2019-03-23 19:59] shanalikhan commented on #754
@ioprotium any update ? When you be able to complete ?

[2019-03-23 22:22] arnohovhannisyan opened #804 "Auto upload not working"
🐛 **Describe the bug**
Auto upload is not initiated when changing settings or installing/removing extensions. To be clear, I have turned on autoUpload in the settings, restarted, and it still didn't work. I have also tried this on another machine to make sure that it wasn't just my computer acting up and the issue did not go away on that one either.

🌴 **Visual Studio Code Version :** [ 1.32.3 ]
🌴

[2019-03-24 11:01] njkevlani commented on #800
@shanalikhan

Functions `processBeforeUpload` and `processBeforeWrite` are used to add functionality **Sync Pragmas** in `settings.json`.

I think we can use `processBeforeUpload` and `processBeforeWrite` for this purpose as well. Or do I have to rewrite similar functions with some changes?

If the same functions can be used for both `settings.json` and `keybindings.json`, I'll just change the var

[2019-03-24 15:01] shanalikhan commented on #804
Thanks, i will look into it.

[2019-03-24 18:22] shanalikhan commented on #800
No these function should work for all of the content string that will be passed.
You just need understand how these functions are being called in which location for `settings.json` and implment the calling layout for `keybindings.json`

Make sure you write the test cases for it.

If you are working on to implement this issue, it would be great if you can look into other ticket as well regarding `k

[2019-03-24 18:26] shanalikhan commented on #804
Duplicate of #801

[2019-03-24 18:26] #804 closed

[2019-03-24 18:30] shanalikhan commented on #696
It should be working now.
Let me know if there is a problem in reset the settings.

[2019-03-24 18:30] #696 closed

[2019-03-24 18:30] njkevlani commented on #800
Will open a PR by this weekend :)

[2019-03-24 18:32] #799 closed

[2019-03-24 18:35] shanalikhan commented on #745
Console error are logged on Developer tools
Help menu > Toogle Developer Tools.

Paste a screenshot after producing that error so i can further investigate.

[2019-03-24 18:40] shanalikhan opened #805 "Remove replaceCodeSettings from Settings Sync configurations"
Replace `replaceCodeSettings` from the Settings Sync.

1. User should use Sync Pragma in order to disable upload of certain settings.
2. Use `host` in order to switch the settings to other host.

Reference : https://github.com/shanalikhan/code-settings-sync/wiki/Sync-Pragmas

[2019-03-24 18:45] shanalikhan commented on #641
Yes, i will setup a page in the future updates.

[2019-03-24 19:16] malmaud opened #806 "'Unexpected end of JSON input' on download"
🐛 **Describe the bug**
A clear and concise description of what the bug is. You are always welcome to check the [Troubleshooting](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting) section before filing the ticket.

🌴 **Visual Studio Code Version :**  1.32.3
🌴 **Code Settings Sync Version :** 3.2.7
🌴 **Standard or Insiders :** standard
🌴 **OSS or Portable :** neither, conventio

[2019-03-25 00:01] knyhle commented on #413
If nobody’s working on this, I’ll start on it when I get home in a few hours.

[2019-03-25 09:15] shanalikhan commented on #806
Try running `Sync : Reset ` command

[2019-03-25 09:55] fullenw1 commented on #745
Here you are:
![VSSynError](https://user-images.githubusercontent.com/23318240/54910280-4a75e700-4eec-11e9-862f-fcffcb90df1b.png)

[2019-03-25 15:34] malmaud commented on #806
I tried, then tried downloading my settings again, went through the process of reinputting my gist id and token, and then got the same error.

[2019-03-25 15:42] Bill-Stewart commented on #802
How do I find that?

[2019-03-25 15:51] Bill-Stewart commented on #802
Thank you. I tried your steps, but I get the identical error as before.

[2019-03-25 16:01] Bill-Stewart commented on #802
Disabled extension auto-update and installed 3.2.5. Sync working again.

3.2.7 gives the error, and I can't find the actual exception message anywhere in logs.

[2019-03-25 16:38] shanalikhan commented on #802
help Menu > Toogle Developer Tools - Console.

Actually Settings Sync disabling all the SSL certificates in `3.2.5` and its fixed now. Before saying anything, lets see whats logged in console

[2019-03-25 16:40] shanalikhan commented on #806
Check either this file is invalid - `syncLocalSettings.json` inside User folder
In this file you can manually paste the token.

Also check either your `settings.json` file is valid.

[2019-03-25 16:53] Bill-Stewart commented on #802
Ah, that's it - a certificate error. We require a self-signed certificate in the certificate chain (this is required in our organization for web filtering). Is there any way around this?

[2019-03-25 17:11] shanalikhan commented on #802
Check this if it helps

https://github.com/shanalikhan/code-settings-sync/issues/776#issuecomment-466420221

[2019-03-25 17:12] malmaud commented on #806
I tried deleting both those files, resetting sync settings, tried again, and got the same error. The settings.json in the gis is valid. I do notice the gist has many files that start with `.mypy_cache` - perhaps that's related? eg https://gist.githubusercontent.com/malmaud/64afc42c160cca771c6e871caea06f77/raw/c1a21478caff6e2eda122cf0558f3c86f77567f6/.mypy_cache%257C3.7%257C_ast.data.json. .

Some

[2019-03-25 17:15] shanalikhan commented on #806
https://github.com/shanalikhan/code-settings-sync#global-settings

Try with adding `.mypy_cache` folder into `ignoreUploadFolders` in Global Settings.
Hope that helps.

[2019-03-25 17:23] Bill-Stewart commented on #802
I agree that an extension should not disable certificate errors for all of VS code.

The VS Code page states that if the certificate is trusted by the OS, then Chromium should trust it also.

The certificate is trusted by my machine's OS (Windows 10).

Going to Github works fine in Chrome browser without any certificate errors or problems.

Tried launching code with `--ignore-certificate-errors` o

[2019-03-25 17:31] malmaud commented on #806
It doesn't. I've tried resetting sync settings, deleting the old gist, uploading settings, then downloading settings on the same machine after excluding `.mypy_cache`; same error.

[2019-03-25 17:34] Bill-Stewart commented on #802
Interesting. I uninstalled and reinstalled the VS Code `win-ca` extension and this seems to have fixed it on one machine.

I will try this on the other machines and report back and possibly close this issue.

[2019-03-25 17:40] Bill-Stewart commented on #802
Yes this is the fix - the other machines that exhibited this issue were missing this extension. This is resolved.

[2019-03-25 17:40] #802 closed

[2019-03-25 18:50] shanalikhan commented on #802
Glad to know u fixed it. 🙂

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bill Stewart <notifications@github.com>
Sent: Monday, March 25, 2019 10:40:05 PM
To: shanalikhan/code-settings-sync
Cc: Shan Khan; Comment
Subject: Re: [shanalikhan/code-settings-sync] Internet Not Connected or Unable to Connect to GitHub. Exception Logged in Console (#802)

Closed #802<ht

[2019-03-26 16:48] xSupasx opened #808 "Getting the console error during Upload/download"
When I'm trying to download or upload the settings I get console errors(wanted to download the settings that were uploaded on other PC - upload there was successful and I can clearly see the settings in gist. Tried Generating new gist token, uninstalling the plugin etc. Nothing seems to work. Any Ideas?

Using windows 10 64bit on both PCs

🌴 **Visual Studio Code Version :** [1.32.3 ]
🌴 **Code Sett

[2019-03-26 17:42] janat08 commented on #506
For this to be secure it will need backend. Are you okay with this, as hypothetically one day it will crash or something, or be overloaded and you're on the hook?

[2019-03-26 17:49] kanatkubash commented on #506
@janat08 Maybe open up a browser page for github oauth consent screen, where callback is set to local server spawned within extension, and on access grant, it just picks up access token and stores it ?

[2019-03-26 17:54] janat08 commented on #506
I suppose that makes sense.

[2019-03-26 19:33] jb8893 opened #809 "Null error when using public gist"
🐛 **Describe the bug**
When trying to download from a public gist I get "Cannot read property 'gists' of null.

🌴 **Visual Studio Code Version : 1.32.3
🌴 **Code Settings Sync Version : 3.2.7
🌴 **Standard or Insiders : Standard
🌴 **OSS or Portable : OSS
🌴 **Operating System : Windows 10
🌴 **Occurs On: Download
🌴 **Proxy Enabled:  No
🌴 **Gist Id: 15d0974f65ac04578bc76396fb3363fc

📰 **To Reproduce**

[2019-03-26 23:45] janat08 commented on #506
Well I was reffering to secret code of oauth application, which I assume would have to be shared in the extensions if done without the backend?

[2019-03-27 01:49] xsteacy commented on #668
The setting are saved in the folder

in the OSS version of VScode! The plugin save their setting in the ~$HOME/.config/code
That's why it's not working! Some other pluggins aren't working for the same reason. They probably hardcode the config folder.

[2019-03-27 02:03] imlijq opened #810 "Sync:Failed to connect to the network or connect to GitHub"
Issue Type: <b>Bug</b>

Type shift+alt+d and use Settings Sync to download the configuration and prompt "Failed to connect to the network or connect to GitHub"

Console information：
[code]

Extension version: 3.2.7
VS Code version: Code - Insiders 1.33.0-insider (a4989579d87b0bb82452c8166ea4089e50cea12e, 2019-03-26T23:22:39.444Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Inf

[2019-03-27 06:25] xSupasx commented on #808
Closing the issue. Finally pulled it off. The problem was that I messed up the github token and the gist itself. Would be great to have such problems covered with appropriate message though. Closing the issue.

[2019-03-27 06:25] #808 closed

[2019-03-27 09:44] digeomel commented on #799
Thank you for your answer and the links you provided. The only thing that worked for me finally was to set up a Windows environment variable NODE_TLS_REJECT_UNAUTHORIZED=0.
I realize this is a security risk, but when you are behind an MS corporate proxy like ours, you're not left with many choices.

[2019-03-27 13:09] shanalikhan commented on #668
Instead of setting the path for extension directory and settings (like in the #739) I would suggest PR that should not expose these path but handle the path itself.
For example,  vscode portable which allows Settings Sync to read `env` variables to setup the `User` and `extension` folders path.

We need to see if vscode api provide some identifiers or environment variables to read from while loadi

[2019-03-27 13:17] shanalikhan commented on #806
So you have added `.mypy_cache` in to the `ignoreUploadFolders`. Can you verify  `.mypy_cache` is removed from the GIST files or not ?

[2019-03-27 13:35] dan-dr commented on #668
I think you may be right regarding installing with the cli. But there is the issue of useCliBaseInstallation not doing anything. Fixing that issue will enable OSS users to use the extension as intended.

[2019-03-27 23:24] SirTwsted commented on #799
I would like to add a small note that my sister figured out.
If you have any errors in the settings.json file after editing that file or something.
Sync will not upload or work until there are no errors in the Settings.json file of VS Code.
just a heads up, something she bumped into recently.

[2019-03-28 09:36] shanalikhan commented on #799
Yes, `settings.json` should be valid JSON

[2019-03-29 06:34] kanatkubash commented on #506
@janat08  Yeah, I missed this point. But I believe there are no rogue extensions , that will try to use the token. Also tokens scope is limited to gists. @shanalikhan  What do you think ?

[2019-03-31 04:34] njkevlani commented on #800
How do I run test? [This Method](https://code.visualstudio.com/api/working-with-extensions/testing-extension) for test fails on master branch

[2019-03-31 20:12] amccaugh commented on #515
Wanted to throw my support in for this feature request -- I only have a few keybindings, and none of them are OS-specific, so it's annoying to have to copy and paste the keybindings file back and forth.

[2019-04-01 03:25] Frazer opened #815 "Ran sync download, and overwrote a lot of changes I had made"
🐛 **Describe the bug**

when 2 computers have made changes to the settings, and they are out of sync, running sync download will overwrite changes that have been made locally.

📰 **To Reproduce**
1.  make changes to your settings on 1 computer
2. make changes on another computer
3. upload those settings
4. download settings on first computer

(settings from step 1 will be lost)

possible also happ

[2019-04-01 14:14] shanalikhan commented on #815
Settings Sync will be git sync feature in upcoming versions.
We can fix this behavior using `git` sync instead of `gist` sync.

[2019-04-01 14:14] #815 closed

[2019-04-01 14:15] shanalikhan commented on #800
@njkevlani can you fix fail test method also, i think some PR broke it.

[2019-04-01 14:17] shanalikhan commented on #723
Duplicate of #668

[2019-04-01 14:17] #723 closed

[2019-04-01 15:31] shanalikhan commented on #706
Currently there are issues on autoUpload / Download - Issues are already opened for this already, there is no point to keep this thread alive.

OSS is not supported by Settings Sync , issue is being tracked at https://github.com/shanalikhan/code-settings-sync/issues/668

I'm closing this issue in favor of those 2 issues.
Feel free to discuss related to those problems in those threads.

[2019-04-01 15:31] #706 closed

[2019-04-01 16:09] shanalikhan commented on #515
@amccaugh
Yes go ahead, PR is welcome. You need to create new configuration in Settings Sync Global Settings to use this method.
Will release new version

[2019-04-01 16:23] inorganik opened #816 "Error when trying to sync from public gist."
🐛 **Describe the bug**
1. Install Settings Sync extension
1. in cmd palette, type "sync: advanced options"
1. choose "download settings from public gist"
1. press alt + shift + D, it prompts you for gist ID
1. enter 9d2e13cc88ffb44230e13e4603d70679

I get the error:

🌴 **Visual Studio Code Version :** [ 1.32 ]
🌴 **Code Settings Sync Version :** [ 3.2.6 ]
🌴 **Standard or Insiders :** [ standard ]
🌴

[2019-04-02 08:28] RobFosterNYC opened #817 "[Feature Request] Would like to sync to several accounts"
I would like to Sync to several accounts at the same time.
For example:  Two Github accounts and a  GitKraken account.

Currently I tried to add a new Github Token and a GitKraken token
but your extension only allows 1 Github Token at a time.

If this cant be done:
Then it would be nice if we could actually log into a Github or GitKraken account
And Sync to that account that we are currently logge

[2019-04-02 08:57] shanalikhan commented on #817
Duplicate of #413

[2019-04-02 08:57] #817 closed

[2019-04-02 08:57] shanalikhan commented on #817
When Settings Sync will have `git` support, you can easily upload where ever you like.

[2019-04-02 16:38] Fruxh commented on #816
Same problem here...

[2019-04-02 16:41] inorganik commented on #816
Current workaround is to provide a github token. First you need to go to the command palette and type `sync: reset extension settings`.

[2019-04-02 20:24] ShinobiWPS commented on #745
Getting same error, tried with folder trick, nothing changed.

[2019-04-03 09:14] osya opened #819 "Inserts some empty lines in the beginning of `settings.json` during `Download Settings`"
🐛 **Describe the bug**
Inserts some empty lines in the beginning of `settings.json` during `Download Settings`

🌴 **Visual Studio Code Version : 1.32.3 (on both machines)
🌴 **Code Settings Sync Version : 3.2.7 (on both machines)
🌴 **Standard or Insiders : standard (on both machines)
🌴 **OSS or Portable : I am not sure
🌴 **Operating System : Windows 10 Pro x64 (on both machines)
🌴 **Occurs On:** Do

[2019-04-03 20:04] shanalikhan opened #820 "Remove manual visx package installation in favour of extension download by CLI"
Remove the previous package download code used to manually send request to url to download and extract the package into the extension directory

As currently install-extension command line method is introduced to install the required extension by vscode team.

[2019-04-03 21:24] shanalikhan opened #823 "Fixing webpack build process"
PR is welcome to fix the webpack build process.
Need to minify the code.

[2019-04-04 08:35] shanalikhan commented on #553
Duplicate of #754

[2019-04-04 08:35] #553 closed

[2019-04-04 12:17] shanalikhan commented on #402
@arnohovhannisyan

This is one of the scenario, regarding autoUpload.

Can you check this on new version branch. ?

[2019-04-04 12:29] agross commented on #402
Unfortunately, I can't. I've migrated away to Syncing.

[2019-04-04 17:21] arnohovhannisyan commented on #402
This issue seems to be resolved on v3.2.8

[2019-04-04 19:10] #823 closed

[2019-04-04 19:11] #820 closed

[2019-04-04 19:12] shanalikhan commented on #801
Its fixed in v2.3.8. Update and let me know

[2019-04-04 19:12] #801 closed

[2019-04-04 19:12] shanalikhan commented on #708
Its fixed in new version. Please update and let me know.

[2019-04-04 19:12] #708 closed

[2019-04-04 19:12] #806 closed

[2019-04-04 19:12] #805 closed

[2019-04-04 19:14] shanalikhan commented on #402
😞

Closing this issue. Let me know if there is any problem.

[2019-04-04 19:15] #402 closed

[2019-04-04 19:15] malmaud commented on #806
Thanks!

[2019-04-04 19:16] shanalikhan commented on #123
Its fixed by the PR. But only works for the extension that doesnt require reload.

[2019-04-04 19:21] shanalikhan commented on #698
Latest version is released, Let me know if it persists in Settings Sync v3.2.8

If you are using OSS code. Settings Sync doesnt support OSS as of now - #668

[2019-04-04 19:21] #698 closed

[2019-04-04 20:01] #641 closed

[2019-04-04 20:02] shanalikhan commented on #641
`disableUpdateMessage` is added already.
Will add on documentation

[2019-04-04 23:22] wescoder opened #827 "Extension host killed"
🐛 **Describe the bug**
After the last update of VSCode (1.33.0), `code-settings-sync` is killing the Extension Host.

🌴 **Visual Studio Code Version :** 1.33.0
🌴 **Code Settings Sync Version :** 3.2.8
🌴 **Standard or Insiders :** Standard
🌴 **OSS or Portable :** Neither
🌴 **Operating System :** MacOS Mojave
🌴 **Occurs On:** Startup
🌴 **Proxy Enabled:** No
🌴 **Gist Id:** 8a8afe3f5b1388e1ee949020690

[2019-04-05 01:12] bdougherty commented on #698
v3.2.8 has not fixed the issue. Not seeing that error anymore though.

[2019-04-05 07:41] shanalikhan commented on #698
are you using OSS version of code?

[2019-04-05 10:10] shanalikhan commented on #827
can you post the image screen shot ? How you know Settings-Sync is killing host ?

[2019-04-05 10:32] wescoder commented on #827
I've disabled all extensions, so the error got away, and enabled one by one and restarted between each until the error showed up again, and Sync was who caused it. Later today I'll post a screenshot.

[2019-04-05 13:00] shanalikhan commented on #810
Can you try with latest version of Settings Sync ?

[2019-04-05 13:55] bdougherty commented on #698
I don't think so, unless the one from the website is the OSS version.

[2019-04-05 13:56] shanalikhan commented on #698
have you tried deleting the file and then check it it works?

[2019-04-05 14:15] wescoder commented on #827
![image](https://user-images.githubusercontent.com/22945955/55633211-3c4c8400-5792-11e9-9013-34adda3f474d.png)
Here it is, I've disabled all other extensions.

VSCode version:
![image](https://user-images.githubusercontent.com/22945955/55633279-61d98d80-5792-11e9-802c-61eadd55c799.png)

Sync version:
![image](https://user-images.githubusercontent.com/22945955/55633342-87669700-5792-11e9-8313-92325

[2019-04-05 14:28] shanalikhan commented on #827
@arnohovhannisyan

I think same issue happened previously due to which `chokidar` was removed from Settings Sync.
Can you look into this ?

Reference :
https://github.com/shanalikhan/code-settings-sync/issues/762
https://github.com/Microsoft/vscode/issues/68024#issuecomment-461379608

[2019-04-05 15:14] wescoder commented on #827
I've run `npm un -g fs-extra fs-events` and didn't help.
Is there any other steps related to #762 that you would recommend to do?
I'll be watching [Microsoft/vscode#68024](https://github.com/Microsoft/vscode/issues/68024) for any updates too.

Thanks for the support so far :)

[2019-04-05 15:37] malmaud commented on #806
I just tried updating to 3.2.8, deleting the gist, resetting my code sync settings, uploading and then downloading again, and got the same error.

[2019-04-05 15:39] shanalikhan commented on #806
Try adding the folder in ignoreUploadFolders in new gist. It will stop that folder contents to upload there.

[2019-04-05 15:40] malmaud commented on #806
Ok, adding `.mypy_cache` to `ignoreUploadFolders` does solve the problem. But isn't there still a bug here? Why do I need to exclude that folder?

[2019-04-05 15:56] shanalikhan commented on #806
Actually the goal is to keep the files that should be valid.
Some extension may store high binary files or any other data type that is not valid for Sync.

But what is your scenario, what are the content of `.mypy_cache` ?

[2019-04-05 16:00] malmaud commented on #806
It's produced by the `mypy` program, which does static type checking of Python files. It seems to consist of a large number of JSON files that represent a cache of its analysis.

Perhaps the underlying issue is some of those JSON files are invalid according to the VSCode JSON parser, but valid according to whatever JSON system mypy is using internally. But that shouldn't break this extension.

[2019-04-05 16:30] larrym opened #829 "Error when uploading gist"
🐛 **Describe the bug**
A clear and concise description of what the bug is. You are always welcome to check the [Troubleshooting](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting) section before filing the ticket.

🌴 **Visual Studio Code Version : 1.33.0
🌴 **Code Settings Sync Version : 3.2.8
🌴 **Standard or Insiders : Standard
🌴 **OSS or Portable :
🌴 **Operating System : Wind

[2019-04-05 17:15] k1nghat opened #830 "looping and opening links with auto upload on"
🐛 **Describe the bug**
this started happening after the march update of VSCode came through. i restarted VSCode and noticed the latest sync update as well. everything seemed fine. auto upload was working on settings change. when i opened another VSCode workspace or editor i get a looping of the auto upload like 5+ times along with it opening this link: https://shanalikhan.github.io/2017/02/19/Opti

[2019-04-05 17:17] shanalikhan commented on #830
Please post the contents of custom settings of Settings Sync.
Meanwhile, you can turn off the auto upload.

From: kinghat <notifications@github.com>
Sent: Friday, April 5, 2019 10:15 PM
To: shanalikhan/code-settings-sync <code-settings-sync@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [shanalikhan/code-settings-sync] looping and opening links with auto upload on (#83

[2019-04-05 17:43] arnohovhannisyan commented on #827
I'm currently running v3.2.8 on macOS High Sierra with VS Code v1.33.0, but I'm not seeing any problems, and everything's working for me.

[2019-04-05 17:45] arnohovhannisyan commented on #827
If anyone is still having trouble, I can send a PR that temporarily disables the use of fsevents on macOS until this issue is fixed.

[2019-04-05 19:36] fillipvt commented on #827
Having the same issue. Pinpointed it the same way @wescoder did. Here's a screenshot of the error:
![image](https://user-images.githubusercontent.com/16828078/55652072-22ba3500-57b0-11e9-8f21-bd88a6637c29.png)

[2019-04-05 19:43] arnohovhannisyan commented on #827
I'm thinking this issue might be Mojave-specific as I didn't encounter this on High Sierra. I'll send a PR disabling the use of fsevents which will temporarily fix it.

[2019-04-05 19:44] fillipvt commented on #827
That could also be a reason. I just recently upgraded to the 10.14.4 update. Although totally unsure on how to pin point the problem in that way.

[2019-04-05 19:50] arnohovhannisyan commented on #827
If you know how to build the extension from source, you can try testing my new **experimental** [fix](https://github.com/arnohovhannisyan/code-settings-sync/tree/chokidar-fix) on Mojave.

[2019-04-06 06:51] imlijq commented on #810
I tried it, the latest version 3.2.8 does not have this problem, thank you

[2019-04-06 08:02] S1AnGeR opened #831 "Sync : Error Logged In Console (Help menu > Toggle Developer Tools)."
🐛 **Describe the bug**
clean install VS Code , install Sync Settings - try download settings from private gist:
Sync : Error Logged In Console (Help menu > Toggle Developer Tools).

🌴 **Visual Studio Code Version :** [ 1.33.0 ]
🌴 **Code Settings Sync Version :** [ 3.2.8 ]
🌴 **Standard or Insiders :** [ standart]
🌴 **OSS or Portable :** [ OSS ]
🌴 **Operating System :** [ Windows 10]
🌴 **Occurs On:*

[2019-04-06 16:44] nekonenene commented on #827
@arnohovhannisyan
I tested `chokidar-fix` branch, but the error occured... 😢

Visual Studio Code: 1.33.0
macOS: 10.14.4

<img width="823" alt="SC 666" src="https://user-images.githubusercontent.com/11713748/55672488-9191ae00-58d6-11e9-97d0-fbc3768000dd.png">

[2019-04-06 16:51] arnohovhannisyan commented on #827
Ok, I guess we might have to find some other solution until this is fixed. Thanks for testing!

[2019-04-06 17:34] arnohovhannisyan commented on #827
@nekonenene can you try clearing npm/yarn cache and then truing again without my fix? Fsevents was updated in v2.1.0 of chokidar, but maybe npm/yarn is using the old version from cache.

[2019-04-06 19:51] arnohovhannisyan commented on #830
You probably need to add the new ignored files and folders to your local config JSON file, or reset settings to add them automatically.

[2019-04-06 19:55] arnohovhannisyan commented on #831
Duplicate of #829

[2019-04-06 19:57] k1nghat commented on #830
is this something i need to do per project or just once? not sure of the scope.

[2019-04-06 19:59] arnohovhannisyan commented on #830
It's a one time thing. The way that files were ignored was updated in v3.2.8, so you need to reset settings to update the config. This will fix the looping.

[2019-04-06 23:18] arnohovhannisyan commented on #829
Can you try removing the `sync.gist` setting from `settings.json` and trying to upload again? The error is caused by a 404 status from octokit, which might mean your gist id is invalid.

[2019-04-06 23:26] arnohovhannisyan commented on #816
What is your token set to in syncLocalSettings.json?

[2019-04-07 01:09] nekonenene commented on #827
@arnohovhannisyan

Thanks, I tried again. But, it still not works... The same error occurred.

commands:

[code]

[2019-04-07 02:16] arnohovhannisyan commented on #827
@nekonenene What node version are you using?

[2019-04-07 02:18] ActionCactus opened #832 ""Cannot read property 'StopWatching' of undefined""
🐛 **Describe the bug**
When downloading

🌴 **Visual Studio Code Version :** 1.33.0
🌴 **Code Settings Sync Version :** 3.2.8
🌴 **Standard or Insiders :** Standard?
🌴 **OSS or Portable :** OSS?
🌴 **Operating System :** Win10
🌴 **Occurs On:** Download
🌴 **Proxy Enabled:** No
🌴 **Gist Id:** (irrelevant, tested with multiple valid and invalid tokens)

📰 **To Reproduce**
Steps to reproduce the behavior:

[2019-04-07 03:12] nekonenene commented on #827
@arnohovhannisyan
Node.js v10.15.3.(latest LTS)
It occurs with also v8.15.1.

[2019-04-07 03:16] arnohovhannisyan commented on #827
@nekonenene I think I may have found a solution. [https://github.com/ritwickdey/vscode-live-server/commit/ca594e49635f2ef6f921ff4dd99df1a275bb3d7d](https://github.com/ritwickdey/vscode-live-server/commit/ca594e49635f2ef6f921ff4dd99df1a275bb3d7d)

[2019-04-07 03:23] arnohovhannisyan commented on #827
@nekonenene Can you test my newest changes to the [chokidar-fix](https://github.com/arnohovhannisyan/code-settings-sync/tree/chokidar-fix) branch?

[2019-04-07 04:08] nekonenene commented on #827
Phew,,, I'm getting tired. 😷

[code]

And, I got the same error....
I would be grateful if you think much.

[2019-04-07 04:17] arnohovhannisyan commented on #827
@nekonenene Sorry for wasting your time. Thank you for testing anyway!

[2019-04-07 05:10] larrym commented on #829
Yes, that did it. I am sorry I categorized this situation as a bug.

On Sat, Apr 6, 2019 at 4:18 PM Arno Hovhannisyan <notifications@github.com>
wrote:

[2019-04-07 05:11] #829 closed

[2019-04-07 06:27] Spacebody commented on #827
I encountered the same issue. We encountered such a problem previously so quickly I disable this extension, and the problem is gone.

OS: Mojava 10.14.3
VS code: 1.33.0
Sync: 3.2.8

[2019-04-07 16:24] arnohovhannisyan commented on #829
@larrym It's ok, at least you got it working :)

[2019-04-07 16:27] arnohovhannisyan commented on #827
Everyone who's having this issue seems to be running Mojave. Is anyone having this issue in High Sierra or below?

[2019-04-07 16:31] arnohovhannisyan commented on #827
Can anyone still having this issue try running this command and trying again?
[code]

[2019-04-07 16:34] wescoder commented on #827
I've already done this before and the problem persists, should I do it
again now?

My node version is 11.13.0

Em dom, 7 de abr de 2019 13:31, Arno Hovhannisyan <notifications@github.com>
escreveu:

[2019-04-07 16:34] arnohovhannisyan commented on #831
Resolved in #829, you can look there for the solution.

[2019-04-07 16:35] arnohovhannisyan commented on #827
@wescoder If you've already tried, then no.

[2019-04-07 16:57] arnohovhannisyan commented on #827
@wescoder Can you try installing this version of the extension?

https://cdn.discordapp.com/attachments/549007146868539408/564493848777064462/code-settings-sync-3.2.8.vsix

[2019-04-07 17:23] Spacebody commented on #827
@arnohovhannisyan Wow, it works on my computer.

OS: Mojava 10.14.3
VS code: 1.33.0

[2019-04-07 17:40] arnohovhannisyan commented on #827
@Spacebody Thanks! After further testing, I'll send a PR with the updated changes.

[2019-04-07 17:46] wescoder commented on #827
@arnohovhannisyan It worked for me too! 🎉 😃 👍 🚀 :shipit:

I'm glad we could help.

[2019-04-07 17:58] arnohovhannisyan commented on #827
Just opened a new PR with the changes. I hope this gets merged soon!

[2019-04-07 19:24] arnohovhannisyan commented on #809
Try running `> Sync : Reset Extension Settings` and see if it fixes it. Same error as #816

[2019-04-07 19:25] arnohovhannisyan commented on #809
Also, try updating to the newest version, v3.2.8

[2019-04-07 20:38] shanalikhan commented on #832
@arnohovhannisyan

Can you look into this ?

[2019-04-07 20:41] shanalikhan commented on #827
Sweet!
Thanks, I will release the new version in a few days.

[2019-04-07 21:52] arnohovhannisyan commented on #832
@shanalikhan sure

[2019-04-07 22:05] arnohovhannisyan commented on #832
@ActionCactus Is this happening constantly, or did it only happen once?

[2019-04-07 22:17] arnohovhannisyan commented on #831
@S1AnGeR you might have entered an invalid gist id. Make sure it's correct and try again.

[2019-04-07 22:40] ActionCactus commented on #832
It was constant and virtually instantaneous every time.  I used multiple gists (in between resetting settings, of course) and tried with numerous code-sync settings (ranging from just a configured gist to multiple settings).

As mentioned in the bug report I did revert to 3.2.7 and the problem doesn't exist with that version.

[2019-04-07 22:47] arnohovhannisyan commented on #832
Once I have a fix, will you be able to test it?

[2019-04-07 22:54] ActionCactus commented on #832
Yeah, sure

[2019-04-07 23:09] NayaStudio commented on #827
on High Sierra it works, on Mojave it run into problems as described above

[2019-04-07 23:34] jamie1192 commented on #827
@arnohovhannisyan yeah i'm gonna be *that* guy.. i'm on High Sierra having the same issue with VSCode 1.33 so it's not isolated to just Mojave..

[2019-04-08 02:15] RichieChoo commented on #832
I met it when I try to  use shift +alt + U to set Token

Cannot read property 'StopWatching' of undefined

[2019-04-08 02:20] arnohovhannisyan commented on #827
Have you tried the fix I linked a few comments ago?

[2019-04-08 03:42] eojina commented on #832
I tried to use this extension over several weeks.
But I did not succeed once.
Every time I do something, I get a blah blah error and it annoys me.
This program writer just die out.
This program is garbage.

[2019-04-08 03:48] arnohovhannisyan commented on #832
@ActionCactus can you try this out?
https://cdn.discordapp.com/attachments/549007146868539408/564657794293170176/code-settings-sync-3.2.8.vsix

[2019-04-08 03:58] arnohovhannisyan commented on #832
@eojina If you are getting errors, create an issue and show the error. This way it can get fixed, and you won't get annoyed.

[2019-04-08 03:59] jpgls commented on #827
Just to let you know - the fix in the version at: https://cdn.discordapp.com/attachments/549007146868539408/564493848777064462/code-settings-sync-3.2.8.vsix - works for me as well (woohoo) since I don't see anyone else with my system so far

macOS Sierra - 10.12.6
VSCode - 1.33.0
Node - 10.15.3

Thanks so much for the quick fix and the awesome extension!

[2019-04-08 04:02] arnohovhannisyan commented on #827
@jpgls I'm glad it worked for you :). The fix should be merged into the official release in a few days.

[2019-04-08 04:39] ActionCactus commented on #832
@arnohovhannisyan This appears to be working, but I may have more info for you.

To test the attachment you gave me I reset extension settings for code-sync and then uninstalled the extension.  After that I reinstalled the extension from scratch and simply ran "Sync: Download Settings" without setting up a gist (previously this was a scenario which would trigger the error filed).  Things worked fi

[2019-04-08 04:47] arnohovhannisyan commented on #832
@ActionCactus I'm glad it worked, and thanks for testing!

I'm pretty sure that this just had to do with the auto-upload service being instantiated after the call.

[2019-04-08 04:53] arnohovhannisyan commented on #832
@shanalikhan I made a PR fixing this issue.

[2019-04-08 05:23] Spacebody commented on #827
You guys can temporally use the fixed version these days, and I hope the official release can use a new version number so that we can upgrade to the official version as usual.

[2019-04-08 05:48] shanalikhan commented on #830
These are your ignore files
[code]
@arnohovhannisyan
We need to know what files change event is being observed from the logs.

[2019-04-08 09:18] Revolution1 commented on #754
same issue here. any update?

[2019-04-08 14:58] arnohovhannisyan commented on #830
This is already in the code.

[code]

[2019-04-08 16:31] shanalikhan commented on #745
Another method you guys can try:
1. Download the extension last update [link](https://marketplace.visualstudio.com/_apis/public/gallery/publishers/Shan/vsextensions/code-settings-sync/3.2.8/vspackage) - Or open the [page](https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync) and Click `Download Extension` to download the extension package.
2. Install extension via command li

[2019-04-08 16:45] #830 closed

[2019-04-08 16:46] #809 closed

[2019-04-08 23:24] arnohovhannisyan commented on #827
@wescoder I know that this issue has been fixed already, but I was wondering if maybe you can test this version and see if it crashes. I want to find out which version of chokidar broke it on mac.
https://cdn.discordapp.com/attachments/549007146868539408/564953595892727853/code-settings-sync-3.2.8.vsix

[2019-04-08 23:47] wescoder commented on #827
I'll take on this tomorrow and let you know if it works.

Em seg, 8 de abr de 2019 20:24, Arno Hovhannisyan <notifications@github.com>
escreveu:

[2019-04-08 23:47] arnohovhannisyan commented on #827
Thanks!

[2019-04-09 07:27] mvilks commented on #832
I can confirm that a simple reinstall (uninstall, reload app, install extension again) fixes the problem.

[2019-04-09 13:14] #831 closed

[2019-04-09 17:08] #810 closed

[2019-04-09 17:09] #760 closed

[2019-04-09 18:52] cerino-ligutom commented on #816
Just encountered this issue from a complete uninstall (deleting corresponding files as well from %appdata% and %userprofile%) then doing a fresh install due to VS Code being terribly slow for some reason and can confirm this works.

[2019-04-09 22:01] ericconstantinides commented on #832
I just manually restarted VS Code and it fixed this issue.

[2019-04-10 06:51] cspwizard opened #839 "After each sync the page "http://shanalikhan.github.io/2017/02/19/Option-to-ignore-settings-folders-code-settings-sync.html" is opened"
🐛 **Describe the bug**
A clear and concise description of what the bug is. You are always welcome to check the [Troubleshooting](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting) section before filing the ticket.

🌴 **Visual Studio Code Version :** [ 1.33 ]
🌴 **Code Settings Sync Version :** [ 3.2.8 ]
🌴 **Standard or Insiders :** [ standard ]
🌴 **OSS or Portable :** [ oss ]
🌴

[2019-04-10 09:29] shanalikhan commented on #839
@arnohovhannisyan can you look into this ?

@cspwizard can you post the following things:
1. custom settings .json file inside `User` folder. You can remove the token in that file before posting.
2. Console Log ( Help Menu > Toogle Developer Tools )

[2019-04-10 09:52] shanalikhan commented on #816
Can you guys, test on this build and let me know so i can release new version.

https://www.dropbox.com/s/beudbw0uqwt8ua2/code-settings-sync-3.2.8.vsix?dl=0

[2019-04-10 11:19] cspwizard commented on #839
Sure!

settings .json

`{
    "ignoreUploadFiles": [
        "projects.json",
        "projects_cache_vscode.json",
        "projects_cache_git.json",
        "projects_cache_svn.json",
        "gpm_projects.json",
        "gpm-recentItems.json",
        "state.vscdb",
        "state.vscdb.backup",
        "syncLocalSettings.json",
        ".DS_Store",
        "sync.lock"
    ],
    "ignoreUploadF

[2019-04-10 11:21] cspwizard commented on #839
Also I've several instances of VSCode running, maybe this could cause issues as well.

[2019-04-10 11:22] shanalikhan commented on #839
Thanks.
Did it happens for the first time when you report? \
Since then, have you tried restarting the code to see still having problem?

[2019-04-10 11:24] cspwizard commented on #839
No. the issue is there for couple days. I've restarted all the instances, and even reboot, but it still happens.

[2019-04-10 13:09] gnomeria commented on #839
Keeps happening to me too. I'll post some more info later

[2019-04-10 13:30] gnomeria commented on #363
Btw this is still happening with version 3.2.8. I'll investigate later

[2019-04-10 15:47] arnohovhannisyan commented on #839
@cspwizard In your user folder, is there a `sync.lock` file when vscode is closed?

[2019-04-11 03:25] kemelzaidan commented on #650
I'm having the same problem here but a workaround this bug is easy. Where does settings sync expect to find a `code` executable? That being said, it's just a matter of creating the right symbolic link pointing to the vscodium binary...

[2019-04-11 03:29] dragonwocky commented on #832
Can confirm: fresh install of [VS Codium](https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo) (VS Code without Microsoft's modifications), downloaded `shan.code-settings-sync`, hit `CTRL + ALT + U`, and got `"Cannot read property 'StopWatching' of undefined"`. Manually relaunched the app, hit `CTRL + ALT + U`, and extension started behaving as expected (asked for GitHub Personal Access Token).

[2019-04-11 04:07] dragonwocky opened #840 "Can't find correct data folders when using with VS Codium"
🐛 **Describe the bug**
When attempting to install downloaded data the extension cannot find the correct data folder to put extensions/settings/keybindings in, runs into an error and gives up.

🌴 **Visual Studio Code Version :** 1.33.0
🌴 **Code Settings Sync Version :** 3.2.8
🌴 **Standard or Insiders :** Standard
🌴 **OSS or Portable :** [VS Codium](https://gitlab.com/paulcarroty/vscodium-deb-rpm-re

[2019-04-11 04:42] dragonwocky commented on #840
Deleted all the data folders and relaunched VS Codium to regenerate them, then reinstalled the extension and re-ran `CTRL + SHIFT + D`. This time, it downloaded the settings file successfully, but did not install any extensions (I'm still getting the same error).
![image](https://user-images.githubusercontent.com/16874139/55931130-b0da6380-5c67-11e9-8c24-e65d75ccdda5.png)

Although note that I bel

[2019-04-11 06:38] cspwizard commented on #839
@arnohovhannisyan no, only globalStorage/,  keybindings.json,  settings.json,  snippets/, syncLocalSettings.json,  workspaceStorage/

[2019-04-11 10:55] shanalikhan commented on #840
Duplicate of #668

[2019-04-11 12:47] dragonwocky commented on #840
You sure? It's definitely similar, but according to the OP of #668 there were no errors in the console. Here there were. Maybe I'm missing something, but...

[2019-04-11 15:49] audientlin commented on #832
it work after restarted.

[2019-04-11 16:38] fullenw1 commented on #745
What I've done:
1. Uninstall the extension in VSCode
2. Downloaded the VSIX file
3. Click on the three dots at the top of the Extensions side bar and chose "Install from VSIX"
4. Reload VSCode

Got the same error :-(

Recently I had an issue with the PowerShell extension. And this happened because on a particular computer I was not using a workspace.
For your extension, I tried both with and witho

[2019-04-11 16:54] njkevlani opened #841 ""Launch Test" Fails while testing the extension"
🐛 **Describe the bug**
While running tests by `Launch Tests` in debugger, it fails.

🌴 **Visual Studio Code Version :** [ 1.33 ]
🌴 **Code Settings Sync Version :** [ v3.2.8 ]
🌴 **Standard or Insiders :** [ Standard ]
🌴 **OSS or Portable :** [ Portable ]
🌴 **Operating System :** [ Arch Linux ]
🌴 **Occurs On:** [ Running Tests ]
🌴 **Proxy Enabled:** [ No ]
🌴 **Gist Id:** [ "4bc23ae92142e80d0cb00dbc5

[2019-04-12 03:15] arnohovhannisyan commented on #839
@cspwizard Can you try this out?
https://cdn.discordapp.com/attachments/549007146868539408/566098906031849483/code-settings-sync-3.2.8.vsix

[2019-04-12 08:45] cspwizard commented on #839
I'll check a bit later. Thanks!

[2019-04-12 10:03] qqqasdwx commented on #832
Name: Settings Sync
Id: shan.code-settings-sync
Description: Synchronize Settings, Snippets, Themes, File Icons, Launch, Keybindings, Workspaces and Extensions Across Multiple Machines Using GitHub Gist.
Version: 3.2.8
Publisher: Shan

---
I have a same problem,and I try this:

but it doesn't work.

[2019-04-12 16:06] FC-Jason commented on #816
The new one fixed the problem for me on MacOS Mojave 10.14.4. Thanks!

[2019-04-12 18:25] sattellite commented on #832
Have the same problem on new installation. After VSCode have been restarted problem was resolved.

[2019-04-13 09:15] SamaneYaghoobi opened #844 "Can't upload and update settings"
🐛 **Describe the bug**
I typed >Sync in command palette and clicked Update/Upload settings, then I got this error:
Cannot read property 'StopWatching' of undefined

🌴 **Visual Studio Code Version :** 1.33.0
🌴 **Code Settings Sync Version :** v3.2.8
🌴 **Operating System :** Linux Mint 18.3
🌴 **Occurs On:** Upload

📺  **Additional context**
![screenshot](https://user-images.githubusercontent.com/224

[2019-04-13 23:01] arnohovhannisyan commented on #844
Duplicate of #832

[2019-04-13 23:03] arnohovhannisyan commented on #844
@SamaneYaghoobi Try restarting vscode

[2019-04-14 11:19] we-taper commented on #844
Restarting vscode worked for me.

[2019-04-14 23:07] #840 closed

[2019-04-15 03:54] #844 closed

[2019-04-15 14:49] KeithBarrows commented on #832
Same problem.  Restart of VSCode fixed it with the 3.2.8 build already installed.

[2019-04-15 17:34] ChildishGiant commented on #832
I've just installed and got this error too. Restarting seemed to have solved this.

[2019-04-15 17:43] ChildishGiant commented on #668
Replicated on VSCodium 1.33.1 (Windows 10)
For me the settings download works but not extension downloading.

[2019-04-15 20:43] inorganik commented on #816
Worked for me on CentOS!

[2019-04-15 21:02] omendezmorales commented on #396
Hi @shanalikhan ,
I succeeded in uploading my settings from machine A. However when I try to download into Machine B, I get the following error message:

`Sync : Invalid / Expired GitHub Token. Please generate new token with scopes mentioned in readme. Exception Logged in Console.`

A question that I have is whether when prompted to enter the token name, it should be the GUID itself, or the human-

[2019-04-15 21:31] darkvertex commented on #805
Hi there,

Forgive me if this question seems obvious, but the wiki page on "Sync Pragmas" is not 100% clear to me.

Do I use them directly in my settings.json that vscode uses for my user preferences? And if so, say I have 2 settings where I need values different per OS... Do I do this:
[code]
(which VSCode warns me is wrong because of "duplicate keys", so I'm guessing it's wrong..)
...or...
[code

[2019-04-15 22:27] elliot-labs commented on #832
I got this issue too, I was setting up for the first time ever and it threw an error like this. I was using VS Code 1.33.1.
I was able to do the worksournd where I uninstall, reload and re-install and it resolved it for me.
Restarting the app didn't help me.

[2019-04-16 01:16] tristan957 commented on #668
@shanalikhan I would like to propose we bypass this issue entirely and move to using the new VSCode API at https://code.visualstudio.com/updates/v1_33#_install-extension-command

[2019-04-16 04:18] douglasdeoliveira commented on #809
I still have this same problem in version 3.2.8

[2019-04-16 04:19] douglasdeoliveira commented on #471
Me too

[2019-04-16 04:20] douglasdeoliveira commented on #471
Me too, but in the current version 3.2.8 on Windows 10 and Linux.

[2019-04-16 05:02] arnohovhannisyan commented on #809
@douglasdeoliveira Try this
https://github.com/shanalikhan/code-settings-sync/issues/816#issuecomment-481623181

[2019-04-16 06:41] cspwizard commented on #839
@arnohovhannisyan with your vsix package it seems to work fine, thanks!

[2019-04-16 08:37] shanalikhan commented on #471
It will be fixed in next version.
If you guys want to test the upcoming build.
Check from here
https://github.com/shanalikhan/code-settings-sync/issues/816#issuecomment-481623181

[2019-04-16 08:39] shanalikhan commented on #668
Yes you are right, I noticed this also.

PR is welcome or i will look into this after sometime.
The PR should completely replace the currently command line installation with new VSCode API.

[2019-04-16 13:13] tristan957 commented on #668
I'll see if I can find some time after school lets out.

[2019-04-16 16:31] cerino-ligutom commented on #816
Seems to be working fine on Windows 10 Pro 64 bit. Thanks!

[2019-04-16 22:55] gund commented on #487
Same error here. Installed fresh vscode + settings sync and got:
[code]

Providing token does not work and neither public/anonymous gist!

[2019-04-16 23:56] douglasdeoliveira commented on #471
Thank you very much but it is not working completely. Did not download all my synced plugins and did not remove the old ones. But you could help me here.
Waiting for the new release ...

[2019-04-16 23:57] douglasdeoliveira commented on #809
Thank you very much but it is not working completely. Did not download all my synced plugins and did not remove the old ones. But you could help me here.
Waiting for the new release ...

[2019-04-17 00:42] arnohovhannisyan commented on #809
@douglasdeoliveira Are `sync.syncExtensions` and `sync.removeExtensions` enabled in your settings?

[2019-04-17 00:46] douglasdeoliveira commented on #809
Yeah, both are activated

[2019-04-17 01:01] arnohovhannisyan commented on #809
@douglasdeoliveira Since your new issue doesn't have anything to do with this one, you should open a new issue and share some additional information that could help fix it.

[2019-04-17 05:14] Gywem commented on #816
I'm no longer having such error on my Ubuntu 18.10!

[2019-04-17 08:24] fakhamatia opened #848 "[Feature Request] Add custom CSS to sync"
Please add option to upload and sync custom CSS file

[2019-04-17 09:41] shanalikhan commented on #848
https://github.com/shanalikhan/code-settings-sync#global-settings

You need to add `css` extension on `supportedFileExtensions` inside Global Settings.
Let me know if it helps

[2019-04-17 09:51] fakhamatia commented on #848
Not CSS extension . Custom CSS file for [this](https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css) extension.
CSS for VSCode appearance In a specified paths

[2019-04-17 15:39] timgavin commented on #827
VSCode: 1.33.1
Mojave: 10.14.4
Settings Sync: 3.2.8

Still crashing :/

[2019-04-17 15:45] arnohovhannisyan commented on #827
@timgavin Have you tried this?
https://cdn.discordapp.com/attachments/549007146868539408/564493848777064462/code-settings-sync-3.2.8.vsix

[2019-04-17 15:46] timgavin commented on #827
@arnohovhannisyan I'm new to VSCode; what do I do with that?

[2019-04-17 15:48] arnohovhannisyan commented on #827
@timgavin Go to the Extensions activity (the place where you install extensions), click the 3 dots on the top right, and click install vsix. Then choose the file I linked. This is a temporary solution until it is officially released.

[2019-04-17 15:50] timgavin commented on #827
Tried it; still crashing.

![Screen Shot 2019-04-17 at 8 48 55 AM](https://user-images.githubusercontent.com/1012049/56301987-bfa09a80-60ed-11e9-9ee0-937ce3f7cebc.png)

[2019-04-17 15:53] arnohovhannisyan commented on #827
@timgavin Try closing and reopening vscode. The message that the extension has been installed is still there, which means you haven't restarted vscode.

[2019-04-17 15:58] timgavin commented on #827
I've restarted it a number of times (24 actually) while testing this and always receive that message if the extension is enabled. I installed the .vsix file, received that error message, restarted, and again received that error message.

I then disabled all extensions, restarted Code, enabled Settings Sync, received the error, restarted Code and received the error again. So, no extension conflict

[2019-04-17 16:03] arnohovhannisyan commented on #827
@timgavin Can you post your console error log? You can get to it by going to Help -> Toggle Developer Tools on the menu bar.

[2019-04-17 16:05] timgavin commented on #827
@arnohovhannisyan

![Screen Shot 2019-04-17 at 9 04 08 AM](https://user-images.githubusercontent.com/1012049/56303005-dd6eff00-60ef-11e9-9ee2-626f12f26a72.png)

[2019-04-17 16:08] arnohovhannisyan commented on #827
@timgavin That's weird. We've migrated away from fsevents on that version of the extension, so there shouldn't be any issues with fsevents.

Can you try running this?
[code]

[2019-04-17 16:15] timgavin commented on #827
Ran `npm un -g fsevents`, restarted Code, problem persists.

Ran `yarn global remove fsevents` and received `-bash: yarn: command not found`

Uninstalled extension; restarted Code; reinstalled extension from file; restarted Code; error persists.

![Screen Shot 2019-04-17 at 9 13 19 AM](https://user-images.githubusercontent.com/1012049/56303617-2ecbbe00-60f1-11e9-9639-ade7edbd6c8e.png)

[2019-04-17 21:41] wescoder commented on #827
@arnohovhannisyan Sorry for the late reply (I've been switching jobs this month).
My last attempt using https://cdn.discordapp.com/attachments/549007146868539408/564953595892727853/code-settings-sync-3.2.8.vsix was successfull and it works propperly.
If you want me to test other changes let me know.

[2019-04-17 22:07] jwmann commented on #754
Having the same issue as #553

[2019-04-18 01:01] arnohovhannisyan commented on #396
@omendezmorales Open the command palette and go to `>Sync : Advanced Options -> Edit extension local settings` and paste your token into the `token` part.

That is impossible. You can't just get a token by name or any other id. You need the actual token to do anything with the GitHub API.

[2019-04-18 10:34] ladyrick opened #849 "After downloading the settings.json, Some blank lines are added in settings.json"
🐛 **Describe the bug**
After downloading the settings.json, Some blank lines are added in settings.json.
But the settings.json in gist doesn't have these blank lines.
<img width="555" alt="屏幕快照 2019-04-18 18 25 27" src="https://user-images.githubusercontent.com/10379994/56355024-d9360500-6207-11e9-938d-718928d939be.png">
<img width="427" alt="屏幕快照 2019-04-18 18 28 52" src="https://user-images.gith

[2019-04-18 10:44] shanalikhan commented on #849
Duplicate of #819

[2019-04-18 10:44] #849 closed

[2019-04-18 11:29] shanalikhan commented on #832
Released `v3.2.9`

[2019-04-18 11:29] #832 closed

[2019-04-18 11:29] shanalikhan commented on #816
its fixed in `v3.2.9`

[2019-04-18 11:29] #816 closed

[2019-04-18 11:30] shanalikhan commented on #819
its fixed in `v3.2.9`

[2019-04-18 11:30] #819 closed

[2019-04-18 11:30] shanalikhan commented on #827
its fixed in `v3.2.9`

[2019-04-18 11:30] #827 closed

[2019-04-18 22:00] scythk opened #853 "Ignoring some specific settings"
💡 **Is your feature request related to a problem? Please describe.**
I'm working on both Mac and Win so I'm wondering if there's an option to ignore certain setting like font size, python path or else.

💡 **Describe the solution you'd like**
An option to ignore settings, like
"ignoreSettings": [
        "editor.fontSize"
],

[2019-04-18 22:59] arnohovhannisyan commented on #853
@scythk There already is a feature for this. See [Sync Pragmas](https://github.com/shanalikhan/code-settings-sync/wiki/Sync-Pragmas)

[2019-04-18 23:09] scythk commented on #853
Oh I got it, thanks a lot!

[2019-04-19 01:21] breitembach commented on #816
Still Not Working Ubuntu 18.04 haha!

[2019-04-19 10:03] #853 closed

[2019-04-20 13:02] #718 closed

[2019-04-21 11:20] ctf0 opened #856 "disable sync output panel report"
💡 **Is your feature request related to a problem? Please describe.**
eveytime u make a change ex"change color scheme" the package will sync the changes which is good but what is really frustrating that focus will be hijacked by the output panel.

💡 **Describe the solution you'd like**
maybe simply show a msg in the status bar about the sync operation status ex.`"sync done/failed"`

[2019-04-21 11:20] shanalikhan commented on #856
enable quitesync mode from settings

[2019-04-21 11:20] #856 closed

[2019-04-21 11:27] shanalikhan commented on #848
What is the path of that file ? and what are the contents

[2019-04-21 11:51] fakhamatia commented on #848
the path is changeable but set in setting.json like this:
`"vscode_custom_css.imports": [
        "file:////home/titan/.config/Code/custom.css"
    ],`

and contents CSS for VSCode appearance like this:
`.monaco-workbench .editor-status-indentation,
.monaco-workbench .editor-status-encoding,
.monaco-workbench .editor-status-eol, {
  display: none !important;
}
`
this code hide some items in status

[2019-04-21 14:00] shanalikhan commented on #848
If you want to add any file in Settings Sync.
Read the process here
https://github.com/shanalikhan/code-settings-sync/wiki/Custom-Sync

[2019-04-21 14:46] fakhamatia commented on #848
yes tank you its work
when i download setting if file in new system not exist sync create file?

[2019-04-21 16:08] #841 closed

[2019-04-22 05:08] arnohovhannisyan commented on #668
@shanalikhan I have some good news regarding finding the code folder. `this.context.globalStoragePath` results in `CodeFolder/User/globalStorage/Shan.code-settings-sync`, so we can traverse up 3 directories to get the code folder. I am currently working on implementing this method, along with using the new `installExtension` command in the plugin service.

[2019-04-22 06:44] obamgbopa opened #857 "Update/Uploading setting Sync: Error logged in console"
At upload after inputting the token i get the Sync: Error logged in console (Help menu > Toggle Developer Tools). The console log below

![Screenshot 2019-04-22 at 07 10 52](https://user-images.githubusercontent.com/3716281/56486639-2ea43780-64d0-11e9-9d11-4d2ea70ca988.jpg)

🌴 **Visual Studio Code Version : Version 1.33.1 (1.33.1)
🌴 **Code Settings Sync Version : V 3.2.9
🌴 **Standard or Insiders :

[2019-04-22 07:18] shanalikhan commented on #848
You need to import the file in order to work.

[2019-04-22 07:18] #848 closed

[2019-04-22 16:21] tayler-ramsay commented on #857
I am receiving the same error as above

[2019-04-22 17:50] tibmeister opened #858 "Github Enterprise Ignore Cert"
💡 **Is your feature request related to a problem? Please describe.**
https://github.com/shanalikhan/code-settings-sync/issues/788

💡 **Describe the solution you'd like**
Ability to ignore SSL Cert from Github Enterprise

💡 **Additional context**
Repair error:
HttpError: request to https://api.github.mycompany.com/gists failed, reason: Hostname/IP does not match certificate's altnames: Host: api.gi

[2019-04-22 20:48] alexandrupetrini commented on #650
Hi guys,
I fixed this issue on Linux (Ubunut 18.10) by making this symlink:

`ln -s /usr/bin/vscodium ~/bin/vscodium`

Turns  out there are some path issues in vscodium. Be sure that you have 'bin' folder in your home folder and that it is added to PATH.

[2019-04-23 01:01] arnohovhannisyan commented on #857
@obamgbopa What's in your `settings.json` file?

[2019-04-23 05:30] SimpleNice commented on #857
I am receiving the same error as above

[2019-04-23 06:15] obamgbopa commented on #857
@arnohovhannisyan

{{
  "workbench.colorTheme": "Material Theme",
  "breadcrumbs.enabled": true,
  "editor.acceptSuggestionOnEnter": "on",
  "editor.detectIndentation": false,
  "editor.fontFamily": "'Source Code Pro', Menlo, Consolas, Courier, monospace",
  "workbench.iconTheme": "material-icon-theme",
  "debug.node.autoAttach": "on",
  "editor.fontSize": 10,
  "workbench.colorTheme": "Material T

[2019-04-23 15:02] arnohovhannisyan commented on #857
@obamgbopa Try removing the second curly brace on first line.
[code]

[2019-04-23 15:06] obamgbopa commented on #857
@andrewkboyd  thanks, worked

[2019-04-24 06:54] qqqasdwx opened #861 "where is v3.2.9 release?"
🐛 **Describe the bug**
please update release v3.2.9 . I have a web vs code [code-server](https://github.com/codercom/code-server), and I need manual update this Extensions .
thanks!

🌴 **Visual Studio Code Version :** [ 1.33.1 ]
🌴 **Code Settings Sync Version :** [ 3.2.8]
🌴 **Standard or Insiders :** [ Standard]
🌴 **Portable or Installed :** [ Installed]
🌴 **OSS or Official Build :** [ _here_ ]
🌴

[2019-04-24 10:11] shanalikhan commented on #861
https://github.com/shanalikhan/code-settings-sync/releases/tag/v3.2.9

Added.Change logs are added already.

[2019-04-24 10:11] #861 closed

[2019-04-24 10:12] #857 closed

[2019-04-25 06:52] qqqasdwx commented on #861
thanks

[2019-04-25 09:15] babyadoresorange commented on #331
@shanalikhan
Hello, I'm on vscode 1.33.1 portable.
Uploading is fine but I cannot download extensions, only settings files are downloaded.
There is no error throw, juts 0 extension added.

I also try upload then force download and got the same thing.

Can you look into this ?

[2019-04-25 09:32] shanalikhan commented on #331
@babyadoresorange please open new ticket with the details reproducing steps.

[2019-04-25 14:58] dionisokan opened #862 "Unable to neither update settings nor reset the extension"
🐛 **Describe the bug**
Recently the Settings Sync extension reports "Cannot read property 'ignoreUploadFolders' of undefined" after choosing to upload settings.json. Selecting "Reset Extension Settings" reports "Sync : Unable to clear settings. Error logged on console. Please open an issue."

🌴 **Visual Studio Code Version :** Version 1.34.0-exploration (1.34.0-exploration)
🌴 **Code Settings Sync

[2019-04-25 16:56] chodyo opened #863 "Pragma removes '//' from value when uncommenting"
🐛 **Describe the bug**
If an uncommented pragma value contains the text `//`, the `//` is removed from the value.

For example, if a URL with protocol has a value of `http://example.com`, it will be uploaded to the remote gist with a value of `http:example.com`.

🌴 **Visual Studio Code Version :** [ 1.33.1 ]
🌴 **Code Settings Sync Version :** [ 3.2.9 ]
🌴 **Standard or Insiders :** [ Standard ]
🌴 *

[2019-04-26 11:45] ctf0 commented on #777
@shanalikhan can i ask why the `syncLocalSettings.json` is not also synced , or would it cuz an internal issue to the package if i synced manually ?

[2019-04-26 15:10] shanalikhan commented on #777
because `syncLocalSettings.json` contains `token` which is not safe.
Github also doesnt allow token to upload in gist as a content.

[2019-04-26 23:23] pizzafox opened #864 "Graceful error when settings Gists are deleted"
💡 **Is your feature request related to a problem? Please describe.**
When the settings Gists are deleted, there is an error thrown because the extension can't load it's data.

💡 **Describe the solution you'd like**
The extension should check if the Gists exist, or at least have a graceful error instead of the one telling you to check the developer console.

[2019-04-28 15:05] ctf0 commented on #777
@shanalikhan i just tried and added `syncLocalSettings` as custom file to upload and it worked.

i understand the security issue of uploading the token to the gist, but as its private/secret so i think its okay to include it along with the rest of the synced items, still many many thanx for ur hard work :trophy:

[2019-04-29 13:38] bjonen opened #865 "@sync-ignore proxy setting double slash gets lost"
🐛 **Describe the bug**

My settings.json looks like this:
    // @sync-ignore
    "http.proxy": "http://user:pw@myproxy:port",
    // @sync-ignore
    "http.proxyStrictSSL": false,

When download my laptop settings to my office computer, the settings.json gets rewritten but the http proxy becomes http:user:pw@myproxy:port (missing the "//") so that all extension downloads fail afterwards.

🌴 **Vis

[2019-04-30 20:38] Johnystar opened #866 "Not working on Manjaro Linux"
Sync fails to install the extensions with the following error:
[code]
This issue didn't occur to me on Windows or Debian-based distributions (namely Ubuntu and Elementary OS).

[2019-05-01 15:22] ildoc commented on #866
same on archlinux (not so surprising...)

imho the problem could be at https://github.com/shanalikhan/code-settings-sync/blob/master/src/service/pluginService.ts#L288

[code]

should be

[code]

[2019-05-01 23:46] ctf0 commented on #805
@darkvertex according to

so i think a combination of ur first & second examples is what happens, @shanalikhan any insights ?

[2019-05-02 00:09] ioprotium commented on #754
Hi, sorry for the long delay. I've just sent the PR #867

[2019-05-02 00:09] ioprotium commented on #865
@shanalikhan I will take this

[2019-05-02 06:11] Gywem commented on #816
Now that I pay attention more on the issue, I'm no longer seeing the error mentioned on this issue, though strangely my extensions are not being installed on the editor. I just see them to be "fetched" and "installed" so quick, but at the end, these are not installed in vscode. If I use my token it goes fine. Could this be still related on fetching from public GIST?

[2019-05-02 10:28] shanalikhan commented on #866
@ildoc can you send me a PR where you think it can be improved for Manjaro Linux, while keeping the support for ubuntu and other os.

[2019-05-02 10:36] shanalikhan commented on #816
@Gywem
Please create new issue with complete reproducing steps so i can reproduce and fix in upcoming version ( if there is a bug )

[2019-05-02 14:04] shanalikhan commented on #863
Duplicate of #865

[2019-05-02 14:04] #863 closed

[2019-05-02 14:10] shanalikhan commented on #862
Duplicate of #668

[2019-05-02 14:10] #862 closed

[2019-05-02 18:23] njkevlani commented on #515
Hey guys, I have opened a PR #854 addressing this issue and some other features. We need some testers on **macOS**.

# Features to be tested is
 A new setting `sync.universalKeybindings` is introduced in [Global Settings ](https://github.com/shanalikhan/code-settings-sync#settings)of `Sync`

[Here](https://github.com/shanalikhan/code-settings-sync/pull/854#issuecomment-485232451) is the expected b

[2019-05-02 19:49] Marlous opened #869 "Can't installed extensions as root on Kali Linux, how solve it (the latest version)?"
Can't installed extensions as root on Kali Linux, how solve it (the latest version)?
Can‘t use `-user-data-dir=` parameter in settings-sync.

[2019-05-02 22:41] mjbvz opened #870 "Set extensionKind in package.json to support Remote Development"
Hi, I'm on the VS Code team. We recently released support for [Remote Development](https://code.visualstudio.com/blogs/2019/05/02/remote-development) and I noticed that your may extension need a small change to ensure users have a good experience when using it remote workspaces.

## What is the issue?
To make remote development as transparent as possible to users, VS Code distinguishes two classes

[2019-05-03 15:13] SamaneYaghoobi commented on #844
@arnohovhannisyan Thanks, that's worked.

[2019-05-03 16:44] shanalikhan commented on #869
Duplicate of #411

[2019-05-03 16:44] #869 closed

[2019-05-03 16:48] shanalikhan commented on #870
Thanks.
I will release this fix in the upcoming version.

Feel free to send PR where you think it can be improved. :)

[2019-05-03 18:11] shanalikhan commented on #515
Thanks @njkevlani

I will release new version once the [build](https://drive.google.com/open?id=1kEBg-Yne0SDI-NU5B9uFOK_z7P8ITGMM) by @njkevlani  works for Mac users.

[2019-05-03 20:06] cristiangauma commented on #866
A quick workaround while someone has time to create the PR:

`mkdir -p ~/bin
ln -s `which code` ~/bin/code`

I have just tested it and restored my configuration on Manjaro.

[2019-05-04 13:35] kkorus opened #874 "TypeError: Cannot read property 'ignoreUploadFolders' of undefined"
🐛
Hey, I'm getting this error in console when I'm trying to download my gist.

🌴 **Visual Studio Code Version :** [ 1.33.1 ]
🌴 **Code Settings Sync Version :** [ 3.2.9 ]
🌴 **Standard or Insiders :** [ Standard]
🌴 **Portable or Installed :** [ Installed ]
🌴 **OSS or Official Build :** [ Official Build]
🌴 **Operating System :** [ Windows 10]
🌴 **Occurs On:** [ Download  ]
🌴 **Proxy Enabled:** [ No ]

[2019-05-04 20:02] ctf0 opened #875 "check for empty space before //"
🐛 **Describe the bug**
when using `@sync host=something` the ext will comment and uncomment the next line based on the active host, however the regex responsible for that is not correct because it simply removes any `//` which affects text like `file:///C:/Users/abc/....`

🌴 **Visual Studio Code Version :** 1.33.1
🌴 **Code Settings Sync Version :** 3.2.9
🌴 **Standard or Insiders :** Standard
🌴 **P

[2019-05-05 13:56] weimingxuan opened #878 "mac"

[2019-05-05 13:56] weimingxuan opened #879 "mac"

[2019-05-05 18:45] arnohovhannisyan commented on #668
Here is the prebuilt version of my PR, #859: https://cdn.discordapp.com/attachments/549007146868539408/574452219064352768/code-settings-sync-3.2.9.vsix. If anyone is willing to test it on their machine, that would be great. Instructions on how to install the VSIX can be found [here](https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix).

[2019-05-06 05:24] HugeKangroo opened #880 "Upload setting failed"
🐛 **Describe the bug**
when upload vscode setting, it gets "Internet Not Connected or Unable to Connect to GitHub. Exception Logged in Console" message.

🌴 **Visual Studio Code Version :1.33.1
🌴 **Code Settings Sync Version :3.2.9
🌴 **Standard or Insiders :standard
🌴 **Portable or Installed :Installed
🌴 **OSS or Official Build :N/A
🌴 **Operating System :ubuntu 16.04
🌴 **Occurs On:Upload
🌴 **Proxy

[2019-05-06 10:31] #879 closed

[2019-05-06 10:31] #878 closed

[2019-05-06 10:48] shanalikhan commented on #875
Duplicate of #865

[2019-05-06 10:48] #875 closed

[2019-05-06 10:48] shanalikhan commented on #875
cc : @ioprotium

[2019-05-06 10:52] shanalikhan commented on #839
@gnomeria can you use the build created by @arnohovhannisyan and let us know if it worked for you too ?

[2019-05-08 04:53] rchillard commented on #668
I attempted to install using your VSIX @arnohovhannisyan on a fresh Ubuntu 18.04 and am receiving this message for all my extensions:
"/bin/app" --install-extension CoenraadS.bracket-pair-colorizer
Error: Command failed: "/bin/app" --install-extension CoenraadS.bracket-pair-colorizer
/bin/sh: 1: /bin/app: not found

[2019-05-08 07:21] shanalikhan commented on #668
This feature is currently missing hence blocking OSS implementation in Settings Sync.

https://github.com/microsoft/vscode/issues/73309

You guys can upvote it over there and ask vscode team to implement it :)

[2019-05-08 14:52] tristan957 commented on #668
Added to the May 2019 milestone for VSCode 👍

[2019-05-09 23:02] sebtiz13 commented on #866
@cristiangauma your solution work fine with "code - oss" (open source version of vscode) on arch linux

[2019-05-09 23:06] sebtiz13 commented on #668
this temporary solution work.
https://github.com/shanalikhan/code-settings-sync/issues/866#issuecomment-489223683

[2019-05-10 01:13] arnohovhannisyan commented on #668
As a temporary solution, you can use this version: https://cdn.discordapp.com/attachments/549007146868539408/576214978931982336/code-settings-sync-3.2.9.vsix.

It uses the API instead of CLI to **install** extensions only, and uninstallation via the CLI will also be implemented when it comes out.

[2019-05-10 14:36] SeanRParker commented on #880
I'm hitting this same issue. Installing older versions of the extension and using `win-ca` just creates a "not connected to Internet or Github" message.

[2019-05-10 15:26] brysgo commented on #870
@shanalikhan - thanks for this extension, I'm using it to do development on WSL using the remote WSL extension, but all my extensions that run in WSL don't get synced because they are installed on the remote. What is the remediation for this?

[2019-05-11 16:18] Dalot commented on #748
I am having the exact the same error but I did not mistake one for the other.
I am using vs code v1.33.1 and sync extension v3.2.9
Linux Mint 19 Tessa

[2019-05-14 11:41] kestel commented on #866
@cristiangauma also your solution help on VSCodium.

[2019-05-14 12:14] SSvilen opened #886 "Sync Commands display language"
🐛 **Describe the bug**
I have a Windows OS in German. My VS Code is configured in English .
When I go to Command Palette (Ctrl+Shift+P) and then I type SYNC:  I see the sync commands in English (for instance Sync: How to configure, etc.. ). When I go to 'Sync: Advanced Options' all the commands in the sub-menu are in German. (or most of them).

🌴 **Visual Studio Code Version** :
Version: 1.33.1 (s

[2019-05-15 10:58] Ornaldo8 opened #888 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `code-settings-sync`
- Extension Version: `3.2.9`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\user\Shan.code-settings-sync-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-

[2019-05-16 15:05] MR-T77 opened #889 "What+s the MacOs keyboard shortcut for Upload Settings?"
What is the correspondent for MacOs of Shift+Alt+U?

[2019-05-17 01:39] Schizo opened #890 "Is there an offline support?"
We are working in an environment where the internet is strictly detached from our LAN, but we can Collect and Download files. Is there a way of `packaging` all extensions/settings and copying it to a device that has no access to the internet and install it?

[2019-05-17 08:29] PulsGarney commented on #874
any idea on how to fix this? 😐

[2019-05-17 09:07] shanalikhan commented on #874
@arnohovhannisyan can you look into it?

[2019-05-17 09:07] shanalikhan commented on #890
Nice point.
Added to backlog

[2019-05-17 09:09] shanalikhan commented on #888
PR is welcome for it if anyone think process can be further improved.

[2019-05-17 09:11] shanalikhan commented on #874
@kkorus
Can you post your configurations in `User\syncLocalSettings.json` other than `token`

[2019-05-17 13:24] shanalikhan commented on #864
Can you paste the developer console log image so i can see

[2019-05-17 13:55] DanTulovsky commented on #874
I don't see this file anywhere. The docs say:

Linux, ~/.config/Code/User/syncLocalSettings.json.

coder@code-server-68858c5f7-bp9kv:~$ whoami
coder
coder@code-server-68858c5f7-bp9kv:~$ cd .config
coder@code-server-68858c5f7-bp9kv:~/.config$ ls -al
total 16
drwxrwsr-x  4 coder 412 4096 May 10 18:59 .
drwxrwsr-x 10   999 412 4096 May 14 18:52 ..
drwxrwS---  2 coder 412 4096 May 10 18:59 dlv
drwxrws

[2019-05-17 14:14] DanTulovsky commented on #874
Getting closer. Looking at the javascript errors, I had to create:

~ = /home/coder/

~/.config/Code
~/.config/User/
~/.config/User/Code/

Reinstalling the extension, I now have two syncLocalSettings.json.

1) /home/coder/.config/Code/User/syncLocalSettings.json
2) /home/coder/.config/User/syncLocalSettings.json

Configuring tokens, the one that's actually being used is (1).
(/home/coder/.config/C

[2019-05-17 14:17] DanTulovsky commented on #874
full js error if that helps more:

ide.main.2e7075.js:60 [Extension Host] Error: ENOENT: no such file or
directory, open '/home/coder/.config/Code/User/settings.json' (at
Function.<anonymous>
(/home/coder/.local/share/code-server/extensions/shan.code-settings-sync-3.2.9/out/extension.js:88:9527))

On Fri, May 17, 2019 at 10:14 AM Dan Tulovsky <dant@wetsnow.com> wrote:

[2019-05-17 14:27] DanTulovsky commented on #874
I don't seem to have a 'code' executable on my system either.  But, using:

code-server  --install-extension hbenl.vscode-test-explorer

seems to work...

On Fri, May 17, 2019 at 10:16 AM Dan Tulovsky <dant@wetsnow.com> wrote:

[2019-05-17 14:30] DanTulovsky commented on #874
Just to see, I made a symlink from /usr/local/bin/bin/code to
/usr/local/bin/code-server and then ran Sync Download, which now gives:

"/usr/local/bin/bin/code" --install-extension
littlefoxteam.vscode-python-test-adapter
Error: Command failed: "/usr/local/bin/bin/code" --install-extension
littlefoxteam.vscode-python-test-adapter
/usr/local/bin/bin/code: bad option: --install-extension

Which is o

[2019-05-17 14:52] DanTulovsky commented on #874
Looks like you need to augment this section:

     282     } else if (osType === OsType.Linux) {
     283       if (isInsiders) {
     284         codeLastFolder = "code-insiders";
     285         codeCliPath = "bin/code-insiders";
     286       } else {
     287         codeLastFolder = "code";
     288         codeCliPath = "bin/code";
     289       }

in src/service/pluginService.ts

to incl

[2019-05-17 14:55] arnohovhannisyan commented on #874
@DanTulovsky try this: https://github.com/shanalikhan/code-settings-sync/issues/668#issuecomment-491119313

[2019-05-17 15:05] DanTulovsky commented on #874
That worked, thank you.

On Fri, May 17, 2019 at 10:55 AM Arno Hovhannisyan <notifications@github.com>
wrote:

[2019-05-18 15:08] nawordar opened #891 "Space before colons in command descriptions"
In command palette, between "Sync" and the colon there is annoying space, unlike in built-in commands. Removing them would make it look a lot better.
![Screenshot_2019-05-18_17-06-58](https://user-images.githubusercontent.com/26769700/57971503-60a1a000-798f-11e9-87dd-cc4846102868.png)

[2019-05-18 18:39] shanalikhan commented on #891
Can you post the image to  which commands you are looking forward to make Settings Sync consistent?

[2019-05-19 01:36] arnohovhannisyan commented on #889
@MR-T77 try Shift+Option+U

[2019-05-19 13:09] alfinbi commented on #866
same problem here using arch linux, the path should be /bin/code, not bin/code
solution provided by @ildoc should be applied...

[2019-05-19 22:27] pizzafox commented on #864
![Error popup](https://i.imgur.com/tw5uXNM.png)
![Developer tools logs](https://i.imgur.com/ZEhKRhc.png)

[2019-05-20 06:59] PulsGarney commented on #874
any idea on how to fix this? 😐

Is that file supposed in home directory? I don't find any file named `syncLocalSettings.json` in my Home directory.

[2019-05-20 09:13] Peluko opened #892 "Enable it to work on Azure Data Studio"
💡 **Is your feature request related to a problem? Please describe.**
Azure Data Studio is *VSCode* for SQL Server (and now for postgresql also), so I'm using it more and more when I have to work with DBs.

💡 **Describe the solution you'd like**
I will like to be able to sync settings between computers as easily as I do with VSCode.

💡 **Additional context**
I've installed the .vsix for this extens

[2019-05-20 12:44] MR-T77 commented on #889
It doesn't work...I have a portuguese layout keyboard (PT-pt), maybe because of that.
It would be nice if you provide information support for MacOs and also to this type of keyboards.

[2019-05-20 13:25] shanalikhan commented on #874
Duplicate of #668

[2019-05-20 13:26] shanalikhan commented on #874
What is the path of your `Users` directory for code.

[2019-05-20 13:26] shanalikhan commented on #892
PR is welcome for it.

[2019-05-20 13:30] shanalikhan commented on #864
Pending for #506
#876

[2019-05-20 13:31] shanalikhan commented on #864
Whenever the error is opened, user should be asked to open a detail information page where logs can be displayed in the textbox.
While a solution for generic errors can be provided there at the spot.

[2019-05-20 14:47] arnohovhannisyan commented on #889
@MR-T77 you can try going to the keybindings settings and remapping the Download and Upload actions to your preferred layout.

[2019-05-20 19:43] MR-T77 commented on #889
Sure, but that option is not trivial. Unfortunately, several apps and extensions(like this) disregard and do not support national layout keyboards (mainly in MacOS), thus new keybindings have great chance of clashing with existing shortcuts...what this causes is an appetence to quit using these apps and extensions.

[2019-05-21 02:02] PulsGarney commented on #874
[code]

Directories goes like that, I am not quite sure about what exactly I am looking for..

[2019-05-21 02:09] arnohovhannisyan commented on #874
@PulsGarney have you tried https://github.com/shanalikhan/code-settings-sync/issues/668#issuecomment-491119313?

[2019-05-21 02:48] PulsGarney commented on #874
@arnohovhannisyan  yeah that one worked! Thank you!!

[2019-05-21 08:20] #874 closed

[2019-05-21 21:30] davidbrownell opened #893 "replaceCodeSettings doesn't seem to be working"
```replaceCodeSettings``` values in the file ```syncLocalSettings.json``` aren't being applied. However, other settings within that file (such as ```customFiles``` and ```supportedFileExtensions``` are).

When I run a sync download, the output in the Code Settings Sync output window suggests that everything completed successfully, but the values in ```settings.json``` have not been replaced after

[2019-05-21 21:53] davidbrownell commented on #893
This appears to be a regression introduced in 3.2.2 - 3.2.1 works as expected.

[2019-05-22 08:56] shanalikhan commented on #893
`replaceCodeSettings` has been replaced with [Sync Pragmas](https://github.com/shanalikhan/code-settings-sync/wiki/Sync-Pragmas)

[2019-05-22 08:56] #893 closed

[2019-05-23 17:07] lizhuangs opened #894 "how to use environment variable ?"
I have some settings between linux and win,of course they are different .I want to set environment variable in each machine .How could I do it ,is there any docs for this ? Tks.

[2019-05-23 17:11] lizhuangs commented on #894
the another problem is some settings are secret,but gist is unsafe.anybody else will see them.the environment variable is a good idea.

[2019-05-24 03:35] Soxcks commented on #753
I am so confused by the documentation here: https://github.com/shanalikhan/code-settings-sync/wiki/Sync-Pragmas

Can you give a concrete example? Do you put the `// @sync` string in `settings.json` or in `syncLocalSettings.json`? Where do you put it? This does not seem to work for me.

[2019-05-24 03:41] Soxcks commented on #805
I echo these confusions in my comment here: https://github.com/shanalikhan/code-settings-sync/issues/753#issuecomment-495460505

[2019-05-24 21:51] arnohovhannisyan commented on #892
@Peluko this might be an issue with finding the User folder properly. Can you try this? https://github.com/shanalikhan/code-settings-sync/issues/668#issuecomment-491119313

[2019-05-25 21:48] jf781 commented on #748
I am also getting this same error on Linux Mint 19.

Works fine on my Win10 laptop.

[2019-05-26 16:13] nuu54262 opened #895 "Can I have multiple settings?"
I'm using 3 different operating system (Windows, macOS and Ubuntu). They have quite different keybindings and color scheme. So I'm wondering can I upload 3 different settings by using **1 Gist token**?

[2019-05-26 16:40] arnohovhannisyan commented on #895
@nuu54262 Yes, this feature already exists. See [Sync Pragmas](https://github.com/shanalikhan/code-settings-sync/wiki/Sync-Pragmas).

[2019-05-27 10:52] shanalikhan commented on #895
You need to use Sync Pragmas, differentiate the computers by `host`

[2019-05-27 10:52] #895 closed

[2019-05-27 14:19] darkvertex opened #896 ""Sync Pragmas" documentation is unclear"
🐛 **Describe the bug**

With regards to the [_Sync Pragmas_ docs page](https://github.com/shanalikhan/code-settings-sync/wiki/Sync-Pragmas), see [my comment here](https://github.com/shanalikhan/code-settings-sync/issues/805#issuecomment-483426790) and [someone else's here](https://github.com/shanalikhan/code-settings-sync/issues/753#issuecomment-495460505).

Maybe the documentation looks super obv

[2019-05-27 15:00] shanalikhan commented on #896
Sure, i will put more examples.
CC :  @njkevlani @ioprotium

[2019-05-27 15:01] shanalikhan commented on #894
Check the wiki here: https://github.com/shanalikhan/code-settings-sync/wiki/Sync-Pragmas#env-variables-for-settings-or-keybindings

[2019-05-28 02:53] arnohovhannisyan commented on #896
@darkvertex Do my revisions to the wiki clear things up for you? If not, please tell me what you would like to see revised.

[2019-05-28 16:33] lizhuangs commented on #894
Thank you !!! I got It~

[2019-05-28 16:50] lizhuangs commented on #894
eeeeh,I think there is still a problem here.I must save all my settings in configuration file and upload it.
but some settings include secret value,like `token` or `password`.
the env support to read the key of environment variable ,but not support to read the value of environment variable .

[2019-05-29 00:18] lizhuangs commented on #894
maybe it can use syncLocalSettings.json to save each machine settings.I think this is a good idea too.

[2019-05-29 20:20] darkvertex commented on #896
Way better! Thank you. This clears up my confusion.

(What do you think, @Soxcks? Is it clearer for you now also?)

[2019-05-29 21:29] Soxcks commented on #896
This is way better, thanks very much. Very clear to me now.

[2019-05-29 21:38] v6 commented on #443
Also, the "private gist" sharing via a link is not available on GitLab.

[2019-05-29 22:36] #896 closed

[2019-05-30 03:44] MagTun commented on #574
After doing a clean install of Windows 10, I reinstall VsCode and downloaded settings-sync. My settings where downloaded as expected but not the `keybindings.json` from `C:\Users\user\AppData\Roaming\Code\User`. I add to manually find it in my backup and reinstall it.

Just to be sure, right after doing this, I perform a update/upload from the palette menu and check the summary, and apparently the

[2019-05-30 08:03] mountainguan commented on #880
I get the same error

[2019-05-30 15:34] shanalikhan commented on #892
Duplicate of #668

[2019-06-02 21:09] arnohovhannisyan commented on #866
Duplicate of #668

[2019-06-02 21:49] arnohovhannisyan commented on #839
Is anyone here able to test my new changes? I need some confirmation that it works as expected before it can be rolled out into the master branch.

VSIX: https://cdn.discordapp.com/attachments/549007146868539408/584860646177505303/code-settings-sync-3.2.9.vsix

Thanks!

[2019-06-04 01:52] gaui commented on #668
I tried 3.2.9 and manual installation of the VSIX, no luck.
Both Code and Code Insiders installed with snap.

Is it possible to get the sourcemap for `out/extension.js` ?

Here's the output:

[code]

[2019-06-04 01:59] arnohovhannisyan commented on #668
@gaui Here is a version with the source maps: https://cdn.discordapp.com/attachments/549007146868539408/585286240027279370/code-settings-sync-3.2.9.vsix

[2019-06-04 02:28] gaui commented on #668
@arnohovhannisyan Thank you, finally got it working at home. Will report if it doesn't work at my office.

[2019-06-04 02:39] gaui commented on #668
Yes this works very well. Is this different from 3.2.9 in the marketplace?

[2019-06-04 02:41] arnohovhannisyan commented on #668
@gaui This is a build of #859, which will probably be released in v3.3.0.

[2019-06-04 13:29] asmyshlyaev177 commented on #748
Have same issue, token and gist id are correct.

[2019-06-04 14:11] cspwizard commented on #839
I did, it worked for me.

[2019-06-04 14:31] jf781 commented on #748
So I was able to figure it out.  User issue.  I was entering the entire gist URL vs just the gist ID.  Once I used only the gist ID it worked perfectly.

[2019-06-04 17:32] OlegChep opened #902 "Cannot download setting"
Extension cannot download my synced setting after providing the token. Results in these errors when trying to sync:

workbench.main.js:238 [Extension Host] HttpError: Not Found
	at module.exports.e.exports.then.n.text.then.r (C:\Users\olegc\.vscode\extensions\shan.code-settings-sync-3.2.9\out\extension.js:176:50169)
	at process._tickCallback (internal/process/next_tick.js:68:7)
t.log @ workbench.m

[2019-06-04 20:38] jpSimkins commented on #902
Cannot upload either. I was just testing this extension out and ran into this error.

[2019-06-04 20:42] jpSimkins commented on #902
This issue appeared for me when I used the account token as the Gist ID. Do not enter anything, just tell it to upload using the shortcut then paste in your token. Then it will give you an ID to use. If you need to find the ID to use for doanload, just open the gist and copy the ID from the URL. See if that helps

[2019-06-04 21:47] OlegChep commented on #902
That worked. Thank you!

[2019-06-04 21:48] #902 closed

[2019-06-04 21:48] OlegChep commented on #902
Switched to GIST ID from Token and everything worked.

[2019-06-05 14:19] jraviotta commented on #870
Adding this issue here as it is likely a WSL compatibility issue.

I am using code-insiders to take advantage of remote development. When I install settings sync in WSL, settings sync fails to sync with `Cannot read property 'ignoreUploadFolders' of undefined`.

I tried resetting the defaults, uninstalling/reinstalling the extension, but get the same error.

[2019-06-05 14:49] andybeeching commented on #880
I'm also experiencing this problem, except my error code is a little different. Setup as follows:

🐛 Describe the bug
when upload vscode setting, it gets "Internet Not Connected or Unable to Connect to GitHub. Exception Logged in Console" message.

🌴 **Visual Studio Code Version :1.34
🌴 **Code Settings Sync Version :3.2.9
🌴 **Standard or Insiders :Standard
🌴 **Portable or Installed :Installed
🌴 **

[2019-06-05 16:56] andybeeching commented on #880
Alright, I figured out my issue - seems as I had dowloaded an old settings.json file (1.5 years old!), it included some proxy settings from a previous environment I had forgotten about.

Removing these proxy values allowed the extension to successfully communicate with the Github API and upload my changes. Leaving this here for posterity in case someone else runs into the same issue.

[2019-06-06 03:53] delcata opened #903 "settings-sync github connexion issue"
🌴 **Visual Studio Code Version :** [ 1.35.0 ]
🌴 **Code Settings Sync Version :** [ 3.2.9 ]
🌴 **Standard or Insiders :** [ Insiders ]
🌴 **Portable or Installed :** [ Installed ]
🌴 **OSS or Official Build :** [ Official Build ]
🌴 **Operating System :** [ Windows 10 64 bit with wsl ]
🌴 **Occurs On:** [Upload]
🌴 **Proxy Enabled:** [ No ]
🌴 **Gist Id:** [ delcata ]

Hello, I have an issue with setting

[2019-06-06 04:06] arnohovhannisyan commented on #903
@delcata Try this: https://github.com/shanalikhan/code-settings-sync/issues/668#issuecomment-491119313

[2019-06-06 05:23] delcata commented on #903
the connexion with GitHub works but I got another problem:
![Issue2_part2](https://user-images.githubusercontent.com/28787067/59008605-885f8780-881a-11e9-8751-2506e07e2b55.png)
![Issue2_part2](https://user-images.githubusercontent.com/28787067/59008855-1b98bd00-881b-11e9-8de8-3ab6ee91237a.png)
![Issue2_part3](https://user-images.githubusercontent.com/28787067/59008867-24898e80-881b-11e9-88b0-23ad3

[2019-06-06 05:36] arnohovhannisyan commented on #903
@delcata This might be an issue with your proxy settings on WSL. Are you using a VPN? Also, if you have a proxy set, can you try temporarily disabling it?

[2019-06-06 05:41] delcata commented on #903
I'm not using a proxy but I think wsl use a tunnel to corporate between the Linux subsystem and the windows part.

[2019-06-06 06:12] ZaLiTHkA commented on #390
@shanalikhan, just curious, but have you been able to implement the improvements you mentioned above?

I was about to open an issue and make the same request when I found this one. Thing is, personally I'd actually like to set something like a 30 second or even 1 minute delay before it auto uploads..

Is there any chance of having a configurable delay for this until such time as you change the way

[2019-06-06 20:31] shanalikhan commented on #390
@ZaLiTHkA may i know why you want to add a delay.
It would be more easy to understand if you could provide a real-time scenario to show the need for this feature.

[2019-06-06 20:37] shanalikhan commented on #880
This is related to proxy, you guys either have proxy setup or using insecure certificates for github.
If you are using code in Windows in WSL, see this https://github.com/shanalikhan/code-settings-sync/issues/903

[2019-06-06 20:41] shanalikhan commented on #870
@brysgo and @jraviotta

I would suggest you to create new issue regarding WSL compatibility with your real time detail senarios  with the bugs ( logs or image attached ) rather than description. This issue is fixed and will be release in upcoming release.

[2019-06-06 20:43] shanalikhan commented on #748
I wish i could make the documentation or WIKI more clearer for the guys. Most of the issues are raied by miss understanding.

I am always open for PR that improve the readme.
Also Public Edit in Github Wiki is enabled. Feel free to improve that. where you think there is confusion.

[2019-06-06 20:45] shanalikhan commented on #902
I wish i could make the documentation or WIKI clearer for the guys. Most of the issues are raised by miss understanding.

I am always open for PR that improve the readme.
Also Public Edit in Github Wiki is enabled. Feel free to improve that. where you think there is confusion.

[2019-06-06 22:50] shanalikhan commented on #143
https://github.com/microsoft/vscode/issues/15466
Please upvote and comment over there. Using API instead of CLI is more feasible.

Settings Sync use API to install/uninstall all the extensions from the v3.3.0

[2019-06-07 17:52] jpSimkins commented on #902
Thanks, I made a minor edit to the installation as a note. Hopefully that will be more clear

[2019-06-10 07:08] ZaLiTHkA commented on #390
sorry for the delay, I've been away from my computer this whole weekend..

I would like a delay in the upload for essentially the same reasons that @Jasius gave: when making changes to things like system settings, key bindings, installed extensions, custom snippets, etc., this extension is constantly uploading the changes.

---

from a usability point of view inside VSCode, I suppose this isn't re

[2019-06-10 10:16] jjangga0214 opened #905 "possible solution to resolve --user-data-dir and --extensions-dir (#869, #411, #331, and etc)"
Hi, while using vscode as root on Kali linux with `--user-data-dir` (e.g. `code --user-data-dir /root/.config/vscode`), I faced an issue that code-settings-sync does not install extensions.

It seems the problem is caused from the fact that there's no vscode API for an extenstion to detect `--user-data-dir` and `--extensions-dir`. I could also found issues like #869 and #411.

And if so, we don't

[2019-06-10 10:24] arnohovhannisyan commented on #905
@jjangga0214 The changes in v3.3.0 were necessary to support all versions of VSCode. Also, using the API to install extensions should completely fix this issue. Have you tried installing a build of v3.3.0 and trying that out?

[2019-06-10 10:53] jjangga0214 commented on #905
@arnohovhannisyan Thanks for letting me know!
I currently use v3.2.9, and due to strange bug ( photo below ), couldn't run it locally.
![Screenshot from 2019-06-10 19-49-52](https://user-images.githubusercontent.com/28584151/59190950-0e802300-8bb9-11e9-85eb-4d79bb6e3057.png)
It'd be great anyway if I really can use it on my Kali when v3.3.0 becomes official.

[2019-06-10 11:12] arnohovhannisyan commented on #905
@jjangga0214 Try installing this VSIX: https://cdn.discordapp.com/attachments/549007146868539408/587599453708353566/code-settings-sync-3.2.9.vsix

If you don't know how: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2019-06-10 14:14] yourgotocoder commented on #689
This worked for me . Thanks a ton!!

[2019-06-10 14:39] jjangga0214 commented on #905
@arnohovhannisyan Happy to see it works even on today!
So, I guess #411 can be closed (if it's tested on windows 10).
Thank you :)

[2019-06-10 19:31] MiLeung commented on #677
How do you revert to a previous version of your settings? I accidentally uploaded blank settings.

[2019-06-11 07:41] devellopah commented on #831
upon fresh vscode installation, install extension, click on extension gear, choose _configure extension settings_ , feed id of valid gist to _gist id field_
and then _shift + ctrl + p_, _Sync: Download Settings_
![sync](https://user-images.githubusercontent.com/13398931/59252343-9b1bf700-8c34-11e9-8dc9-141436e2368d.png)

[2019-06-11 09:53] shanalikhan commented on #677
We can revert to previous version of extension. But if you want to revert your settings to older version. You need to check the revisions from the Gist Page inside github.

To Support Settings Sync to revert to older revision , there is already issue opened. #413

[2019-06-12 01:37] Jasius commented on #390
I felt the same, I have auto sync disabled nowadays because it was a little frustrating without delay.

[2019-06-13 02:55] arnohovhannisyan commented on #888
@Ornaldo8 Can you please upload your `cpuprofile.txt` so we can find out what's causing the high CPU usage?

[2019-06-14 13:33] MCFreddie777 commented on #143
Yeah, I also code both angular and react. I usually have disabled extensions of either one and enable only for workspace... This extension did not sync my disabled extensions

[2019-06-16 02:00] sanjarcode opened #911 "The extension is not working in vscodium, though it works in vscode as well as vscode-insiders"
Issue Type: <b>Bug</b>

I use this extension for synching my settings, keymaps etc on for vscode. I switched to vscodium but this extension is not working. Settings sync by Shan Khan. ext install Shan.code-settings-sync.

Extension version: 3.2.9
VS Code version: VSCodium 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-13T10:36:20.055Z)
OS version: Linux x64 4.4.0-142-generic

<details>

[2019-06-16 03:24] arnohovhannisyan commented on #911
Duplicate of #668, fixed in v3.3.0

[2019-06-16 19:02] shanalikhan commented on #911
Duplicate of #668

[2019-06-16 19:02] #911 closed

[2019-06-18 11:55] willstocks-tech opened #912 "Sync appears to not actually be downloading and applying extensions"
Hi guys,

I have a fresh install of VS Code on Win 10. The first (and only!) thing I did was install Settings Sync and configure that to download my themes, extensions and settings.

My `settings.json` has been imported correctly and I can see that my 15 extensions (in theory) go through the process of being downloaded/installed, but they don't _actually_ get installed. When I press "Apply setting

[2019-06-18 12:00] willstocks-tech commented on #912
I see this in `\AppData\Roaming\Code\logs\20190618T123049\exthost1\output_logging_20190618T124508`

[code]

`\AppData\Roaming\Code\User\` also has
- `keybindings.json`
- `settings.json`
- `syncLocalSettings.json`

But no `extensions.json`?

[2019-06-18 12:28] gustavomrs commented on #738
I had the same problem. In my case I was trying to use **github token** instead of **gist id** to configure the extension on the new machine. Now it's working

[2019-06-18 14:58] willstocks-tech commented on #912
I've just checked my gist and have noticed that when I last tried to download, for some reason my `extensions.json` was wiped, apart from settings-sync. I've just rebuilt my `extensions.json` and I'm now trying to force a re-download.

[2019-06-18 15:07] willstocks-tech commented on #912
`extension.json` rebuilt and still my extensions don't actually appear to be downloading and installing, despite the console output tab showing that they are.

`extensions.json` for reference:

[code]

[2019-06-19 07:38] whusnoopy opened #913 "Support remote-server mode settings sync"
💡 **Is your feature request related to a problem? Please describe.**

As VSCode 1.35 turned [remote development](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.vscode-remote-extensionpack) to stable version, can we support sync settings on remote vscode server?

I'm using VSCode 1.35.1 on Windows 10 x64 1903 with WSL, when I use remote mode, VSCode will install a server versi

[2019-06-19 07:46] arnohovhannisyan commented on #913
Duplicate of #668

[2019-06-19 07:51] arnohovhannisyan commented on #912
@willstocks-tech

Can you try out this build? https://cdn.discordapp.com/attachments/549007146868539408/585286719155208193/code-settings-sync-3.2.9.vsix

The `extensions.json` file will never appear on your local machine. It is created on the fly and uploaded to the gist, and the extension uses this file to install the extensions listed in it. It is never actually written to the disk.

[2019-06-19 08:17] willstocks-tech commented on #912
Hi @arnohovhannisyan

Have just installed that VSIX and an error was logged (to devtools) when I tried to (force) download settings

[code]

[2019-06-19 08:20] arnohovhannisyan commented on #912
@willstocks-tech Here is a more up-to-date build that should hopefully fix that: https://cdn.discordapp.com/attachments/549007146868539408/590818228452851713/code-settings-sync-3.2.9.vsix

[2019-06-19 08:24] willstocks-tech commented on #912
Thanks @arnohovhannisyan

Installed and now I'm seeing:

[code]

and

[code]

[2019-06-19 08:33] arnohovhannisyan commented on #912
@willstocks-tech This version has source maps so we can know exactly what's causing the issue: https://cdn.discordapp.com/attachments/549007146868539408/590821294811906069/code-settings-sync-3.2.9.vsix. It should also fix the second error.

[2019-06-19 08:43] willstocks-tech commented on #912
@arnohovhannisyan Installed and extensions appear to be installing!!

[2019-06-19 08:44] willstocks-tech commented on #912
@arnohovhannisyan - I can confirm, my extensions are all now installed and configured and themes etc. applied! 😁

Thank you for your assistance!

[2019-06-19 09:13] shanalikhan commented on #894
Can you create new issue with clear example that you have created env. variable and xx value and want Sync Pragmas expected behavior so i can look into it in further releases

[2019-06-19 09:13] #894 closed

[2019-06-19 09:14] shanalikhan commented on #905
Duplicate of #411

[2019-06-19 09:14] #905 closed

[2019-06-19 09:17] shanalikhan commented on #913
@whusnoopy

Can you try this build by @arnohovhannisyan
https://cdn.discordapp.com/attachments/549007146868539408/590821294811906069/code-settings-sync-3.2.9.vsix

and let me know if is helps, this build will be released in v3.3.0

[2019-06-19 09:19] shanalikhan commented on #886
@arnohovhannisyan can we fix this ? We need to read local of vscode instead of windows i suppose.

[2019-06-19 10:24] arnohovhannisyan commented on #886
@shanalikhan VSCode creates a file called `locale.json` in the User folder that has the exact same contents as the `localize.ts` config. I guess we can just read that file and parse that instead of the environmental variable.

[2019-06-19 10:50] arnohovhannisyan commented on #886
@SSvilen Try this: https://cdn.discordapp.com/attachments/549007146868539408/590855877355896852/code-settings-sync-3.2.9.vsix.

[2019-06-19 13:12] cpratlong commented on #912
FYI i had same issue and i confirm the below version resolved it for me as well

https://cdn.discordapp.com/attachments/549007146868539408/590821294811906069/code-settings-sync-3.2.9.vsix

[2019-06-19 13:39] lizhuangs opened #916 "support syncLocalSettings.json or github private repository"
💡 **support save config in syncLocalSettings.json or sync with github private repository**
the gist can be seen by anyone who get the gist url.
It is unsafe.
hope for support to save some secret configs  like `oauth token`,`password` in syncLocalSettings.json or sync with github private repository.may be syncLocalSettings.json is simple to implement,but the private  repository is better experience

[2019-06-19 16:57] shanalikhan commented on #916
Duplicate of #413

[2019-06-19 16:57] #916 closed

[2019-06-20 02:06] whusnoopy commented on #913
@shanalikhan This version can work when all the config files under `~/.config/Code/User`, but VSCode on Windows with Remote - WSL placed config files under `~/.vscode-server/data/Machine`, as VSCode won't update settings under `~/.config/Code/User`, the Settings Sync always upload a wrong file

[2019-06-20 04:48] arnohovhannisyan commented on #913
@whusnoopy Can you please install it and see if it works? This build should work perfectly fine with WSL.

[2019-06-20 06:13] whusnoopy commented on #913
@arnohovhannisyan I've uninstalled old version in VSCode local and WSL then installed from the .vsix file, but I'm not sure which version I'm running now because the public version from market and the .vsix file both show version 3.2.9, I noticed the error message changed so I assumed I've installed the .vsix.

I will do a clean installation later today, and record everything I did to check which

[2019-06-20 11:56] whusnoopy commented on #913
Finally, I've use another computer to test install extension from the vsix file, and the Settings Sync appear on Local Installed section in extension page, won't show in WSL Installed, or can be installed on WSL.

This vsix file won't show any error or warning message with Remote WSL anymore. But I don't know how to install it on WSL side, so the settings in WSL still on local only.

Maybe we've t

[2019-06-21 23:17] simonwiles commented on #443
Am I the only one who just wants to do this via local files that I can sync/copy/upload/download/check-in/check-out however I please?

[2019-06-22 10:21] seriiserii825 commented on #689
this is not a solution, but a instruction.
The author, who create this question, already have a settings, and he want to come back it.

[2019-06-22 10:31] seriiserii825 opened #918 "How can i get my seetings?"
🐛 **Describe the bug**
A clear and concise description of what the bug is. You are always welcome to check the [Troubleshooting](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting) section before filing the ticket.

🌴 **Visual Studio Code Version :** [ 1.35.1 ]
🌴 **Code Settings Sync Version :** [ 3.2.9 ]
🌴 **Standard or Insiders :** [ standart]
🌴 **Portable or Installed :** [

[2019-06-22 11:03] seriiserii825 commented on #918
Ok, i resolve my problem.
This is the reason.

1.You must to reset the settings in vscode,  type reset settings in meny bar
2. Create a new github token, like this https://www.youtube.com/watch?v=4-wYVeOAW08
3. In vscode insert your token and try to download settings,
4. Insert your gist id. (You must to get your gist id from your gists)
5. Thats all.

[2019-06-22 11:03] #918 closed

[2019-06-22 13:22] andreypudov commented on #880
I have a similar issue with uploading settings on Mac (the same, directly and via proxy):

[Extension Host] Sync : Connected with user : '<id>'
[Extension Host] HttpError: Not Found
	at module.exports.e.exports.then.n.text.then.r (~/.vscode/extensions/shan.code-settings-sync-3.2.9/out/extension.js:176:50169)
	at process._tickCallback (internal/process/next_tick.js:68:7)
t.log @ /Visual Studio Code

[2019-06-22 20:53] Arbitel opened #919 "Can't sync: Internet not connected or unable to connect to github"
🐛 **Describe the bug**
Error while syncing: gives me this error
<img width="579" alt="Screen Shot 2019-06-22 at 10 50 46 PM" src="https://user-images.githubusercontent.com/2641332/59968809-3881ff80-9540-11e9-8d25-f69a1f11bf62.png">

🌴 **Visual Studio Code Version :** [1.35.1 ]
🌴 **Code Settings Sync Version :** [ 3.2.9 ]
🌴 **Operating System :** [ MacOS Mojave 10.14.5  ]

📰 **To Reproduce**
When S

[2019-06-24 08:14] ravishankarkota2017 commented on #748
I copied github token but not GistId while creating my sync settings. So i lost my GistId  and am able to retrieve it by following below steps.
-  Go to your github account
- Click on your profile and go to 'Your gists'
- Click on cloud settings, it open several settings
- Go to settings.json
- Find and copy value of "sync.gist", this is your GistId
- You can now download all your uploaded setting

[2019-06-24 16:27] #870 closed

[2019-06-24 16:27] #754 closed

[2019-06-24 16:27] #865 closed

[2019-06-24 19:12] shanalikhan commented on #912
I have released new version of Settings Sync v3.3.0 fixing this issue. Im closing this ticket let me know if u guys run into some problem

[2019-06-24 19:12] #912 closed

[2019-06-24 19:12] shanalikhan commented on #892
I have released new version of Settings Sync v3.3.0 fixing this issue. Im closing this ticket let me know if u guys run into some problem.

[2019-06-24 19:12] #892 closed

[2019-06-24 19:13] shanalikhan commented on #891
I have released new version of Settings Sync v3.3.0 fixing this issue. Im closing this ticket let me know if u guys run into some problem

[2019-06-24 19:13] #891 closed

[2019-06-24 19:13] shanalikhan commented on #839
Auto upload is improved.

I have released new version of Settings Sync v3.3.0 fixing this issue. Im closing this ticket let me know if u guys run into some problem

[2019-06-24 19:13] #839 closed

[2019-06-24 19:14] shanalikhan commented on #800
I have released new version of Settings Sync v3.3.0 fixing this issue. Im closing this ticket let me know if u guys run into some problem.

Anyone can improve public wiki to help community

[2019-06-24 19:14] #800 closed

[2019-06-24 19:15] shanalikhan commented on #515
I have released new version of Settings Sync v3.3.0 fixing this issue. Im closing this ticket let me know if u guys run into some problem

[2019-06-24 19:15] #515 closed

[2019-06-24 19:15] shanalikhan commented on #668
Settings Sync now officially supports OSS versions.

I have released new version of Settings Sync v3.3.0 fixing this issue. Im closing this ticket let me know if u guys run into some problem.

[2019-06-24 19:15] #668 closed

[2019-06-24 19:17] shanalikhan commented on #913
I have released new version of Settings Sync v3.3.0 fixing this issue. Im closing this ticket let me know if u guys run into some problem

[2019-06-24 19:17] #913 closed

[2019-06-24 19:18] shanalikhan commented on #886
I have released new version of Settings Sync v3.3.0 fixing this issue. Im closing this ticket let me know if u guys run into some problem

[2019-06-24 19:18] #886 closed

[2019-06-24 19:21] shanalikhan commented on #411
I have released new version of Settings Sync v3.3.0 fixing this issue. Im closing this ticket let me know if u guys run into some problem

[2019-06-24 19:21] #411 closed

[2019-06-24 19:24] shanalikhan commented on #350
@arnohovhannisyan
Can we fix this in next version?

[2019-06-24 19:25] shanalikhan commented on #316
@arnohovhannisyan and this one

[2019-06-24 19:46] tillig commented on #892
Based on [the publishing doc](https://docs.microsoft.com/en-us/sql/azure-data-studio/extension-authoring?view=sql-server-2017) it appears you need to add the extension to [this JSON file](https://github.com/Microsoft/azuredatastudio/blob/release/extensions/extensionsGallery.json) to allow it to be seen by the Azure Data Studio extension list.

[2019-06-24 21:22] shanalikhan commented on #919
Try on latest version of settings sync.

[2019-06-24 21:23] shanalikhan commented on #889
Feel free to send PR where required.

[2019-06-24 21:23] #889 closed

[2019-06-24 21:25] #888 closed

[2019-06-25 10:19] cr3ative commented on #713
This extension is already noisy with unnecessary update notifications. This would absolutely be the last straw, and probably would not be compliant with EU regulations if it was automatically opted in.

[2019-06-25 10:43] shanalikhan commented on #390
@arnohovhannisyan Lets add this in `v3.4.0` also.

I think we can add `autoUploadDelay` in Global Settings make it default as 20 seconds.
Users can change the delay in terms of seconds for uploading.

[2019-06-25 10:44] Jasius commented on #390
That's awesome, thank you! @shanalikhan

[2019-06-25 11:00] shanalikhan commented on #866
Settings Sync v3.3.0 is released with the fix by @arnohovhannisyan
Let me know if you guys find some problem.
I'm closing the issue.

[2019-06-25 11:00] #866 closed

[2019-06-25 11:07] shanalikhan commented on #745
Try with the latest version of Settings Sync v3.3.0.

[2019-06-25 11:08] #919 closed

[2019-06-25 11:11] shanalikhan commented on #880
@andreypudov

[Extension Host] HttpError: Not Found

Checkout the [troubleshooting](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting) here.

[2019-06-25 11:48] andreypudov commented on #880
Thank you so much! It works!

[2019-06-25 12:10] shanalikhan commented on #709
It is fixed now. Let me know if you find some problem.

[2019-06-25 12:10] #709 closed

[2019-06-25 13:06] jrpharis commented on #612
I am still seeing this issue

Visual Studio Code Version : 1.35.1 (1.35.1)
Code Settings Sync Version : 3.3.1
Operating System : OS Mojave 10.14.5
Occurs On: Upload

Snippets Directory: $HOME/Library/Application Support/Code/User/snippets

Auto-upload runs when I make changes and save a snippets file, such as $HOME/Library/Application Support/Code/User/snippets/javascript.json, output from the aut

[2019-06-25 16:24] pr4shan7 commented on #612
+1; me too
OS: Ubuntu 18.04
Extension Version: 3.3.1

[2019-06-25 17:03] tillig opened #926 "Add Settings Sync to the Azure Data Studio "gallery""
💡 **Is your feature request related to a problem? Please describe.**

Re: #892, #668 - in order to show up as an extension for Azure Data Studio, [the publishing documentation](https://docs.microsoft.com/en-us/sql/azure-data-studio/extension-authoring?view=sql-server-2017) mentions it needs to be added to [this JSON file](https://github.com/Microsoft/azuredatastudio/blob/release/extensions/extensi

[2019-06-25 17:30] pr4shan7 opened #927 "code snippets not being synced after update to 3.3.0"
🐛 **Describe the bug**
The code snippets are not being synced after update to 3.3.0 earlier today. Also, I noticed that the existing snippets file in my private gist got deleted after the first upload post updating to 3.3.0
Everything else is syncing fine.

🌴 **Visual Studio Code Version :** [ 1.35.1 ]
🌴 **Code Settings Sync Version :** [ 3.3.1 ]
🌴 **Standard or Insiders :** [ Standard ]
🌴 **Porta

[2019-06-25 18:34] luizgdi commented on #927
Same problem here

[2019-06-25 18:35] arnohovhannisyan commented on #927
Please try this updated version: https://cdn.discordapp.com/attachments/549007146868539408/593147029165965322/code-settings-sync-3.3.1.vsix

Instructions: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2019-06-25 18:41] luizgdi commented on #927
Installed the .vsix, now I'm getting the error:  "Sync: Error Logged In Console (Help menu > Toggle Developer Tools)."

[2019-06-25 18:56] luizgdi commented on #927
@arnohovhannisyan Problem persists here in 3.3.1.vsix

[2019-06-25 19:03] arnohovhannisyan commented on #927
@luizgdi Can you please show the console output? Go to `Help -> Toggle Developer Tools` and send a screenshot of it.

[2019-06-25 19:15] SimonGolms commented on #927
![image](https://user-images.githubusercontent.com/17799657/60126472-5f357580-978e-11e9-87e1-edaa8fdd6220.png)

[2019-06-25 19:20] luizgdi commented on #927
![sync](https://user-images.githubusercontent.com/43801004/60126781-246b1780-9765-11e9-96ba-cfa7d866b75a.png)
@arnohovhannisyan

[2019-06-25 19:44] Arbitel commented on #919
Not working, still giving the same error

[2019-06-26 05:52] arnohovhannisyan commented on #927
@luizgdi This version should fix that: https://cdn.discordapp.com/attachments/549007146868539408/593317522242011147/code-settings-sync-3.3.1.vsix

[2019-06-26 09:49] shanalikhan commented on #926
Latest release tag has been added.

PR is welcome for it.

[2019-06-26 12:01] luizgdi commented on #927
@arnohovhannisyan Yes! Fixed in this version, thanks!!

[2019-06-26 14:10] tillig commented on #926
Totally happy to do that, no problem. However, I'm not sure I have all the data, so let me verify before I do.

Here's an existing plugin in their JSON:

[code]

For settings sync, here are my guesses. In particular...

- Double-check the publisher items and the VS Code engine dependency.
- Do you want the 'preview' flag on the extension? It's an optional flag (at the bottom of the JSON).
- The ex

[2019-06-26 16:20] shanalikhan commented on #926
Yes, thats looks good.

Yes, let make as `preview` for this version, If it goes well, we will remove this from next builds

[2019-06-26 16:31] tillig commented on #926
[Here is the PR for the Azure Data Studio gallery JSON file.](https://github.com/microsoft/azuredatastudio/pull/6172)

The instructions for how to publish new extensions and updates [are pretty simple and shown in the docs here](https://docs.microsoft.com/en-us/sql/azure-data-studio/extension-authoring?view=sql-server-2017). In the JSON I see there's a "versions" node with the info for getting a p

[2019-06-26 16:36] shanalikhan commented on #926
Okay, Thanks.
I think we can close this issue.

[2019-06-26 16:36] #926 closed

[2019-06-26 17:05] shanalikhan commented on #396
@fgallardograzio , @borekb
Auto Upload / Download has very much improved since that time.
Also `syncSummary.txt` is now replaced by Code Output Window. Settings have UI.

Are you guys still facing this error?

[2019-06-26 17:26] Calvin-Newton-UNC commented on #927
@arnohovhannisyan
I installed the new version but still get error
![Capture1](https://user-images.githubusercontent.com/32373659/60201295-8aab7500-980d-11e9-835c-cb398b4cc8af.PNG)
![Capture2](https://user-images.githubusercontent.com/32373659/60201318-9860fa80-980d-11e9-9caf-7159a065b091.PNG)

[2019-06-26 17:30] arnohovhannisyan commented on #927
@Calvin-Newton-UNC Can you make sure that the gist id is correct? You might have swapped the gist id and token.

[2019-06-26 19:02] Calvin-Newton-UNC commented on #927
I get this error when trying to do Sync: Update/Upload Settings.

Here are the steps:
If I reset the extension settings with Sync: Reset Extension Settings and try to upload again it prompts for the access token
![Capture3](https://user-images.githubusercontent.com/32373659/60206959-73bf4f80-981a-11e9-9e66-256b67f48a17.PNG)
If I generate a new token and copy it to the prompt I get the same error.

[2019-06-26 19:22] arnohovhannisyan commented on #927
@Calvin-Newton-UNC Have you added the `gist` option when creating the token? If so, then this is an issue with the gist id, not the token. Try going to https://gist.github.com and finding your gist. Then copy the id from the URL (it should look like the token). Go into your VSCode settings and paste it into the `sync.gist` setting.

[2019-06-26 19:24] robjvan commented on #927
Still not uploading snippets for me either... Confirmed Gist id is good, and can see upload revisions in the Gist online, but no snippet files being uploaded.

Same problem as above - update deleted the snippets that were already in the gist and being backed up, and I haven't been able to upload them since.

[2019-06-26 19:51] arnohovhannisyan commented on #927
@robjvan Have you tried this version? https://cdn.discordapp.com/attachments/549007146868539408/593317522242011147/code-settings-sync-3.3.1.vsix

[2019-06-27 07:05] aamsur commented on #748
i'm getting this problem too, just remove **"sync.gist"** on **settings.json** then re-upload again using **shift+alt+u** and the extention will create a gist for you automatically.

[2019-06-27 13:32] shanalikhan commented on #749
@arnohovhannisyan

We can add the link in that PR, to allow user to open the the GIST.
The text and link should be available once the GIST and token is setup.
Enterprise github links should be supported

[2019-06-27 20:20] JtMotoX commented on #927
@arnohovhannisyan Thank you!!  I was experiencing the same problem and found this open issue.  I was using 3.3.1 which was updated through Code but after manually installing your 3.3.1 it is now uploading my snippets to my gist.  I have installed that vsix on all my systems.  Thanks again.

[2019-06-28 04:48] that70schris opened #931 "supportedFileExtensions stopped working"
🐛 **Describe the bug**
I have a `styles.css` file stored in the User directory alongside keybindings.json and settings.json.  using `supportedFileExtensions: [ 'code-snippets', 'json', 'css' ]` this was working brilliantly until recently

🌴 **Visual Studio Code Version :** [ 1.35.1 ]
🌴 **Code Settings Sync Version :** [ 3.3.1 ]
🌴 **Standard or Insiders :** [ standard ]
🌴 **Portable or Installed :*

[2019-06-28 05:14] arnohovhannisyan commented on #931
@that70schris Can you try this version? https://cdn.discordapp.com/attachments/549007146868539408/593317522242011147/code-settings-sync-3.3.1.vsix

Instructions: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2019-06-28 07:48] objectbakery commented on #831
This issue still exists. Neither of the provided solutions works for me. This extensions is simply broken.

[2019-06-28 16:35] that70schris commented on #931
that version works!

[2019-06-28 16:44] that70schris commented on #931
though the autoUpload seems to have stopped working

[2019-06-28 16:58] that70schris commented on #931
nvm, seems to have sorted itself out

[2019-06-29 17:54] benoitMariaux commented on #831
Yes, same for me @objectbakery

[2019-06-29 20:24] github-dotcom opened #932 "Don't overwrite local settings without confirmation or backup"
🐛 **Describe the bug**
I downloaded settings from gist for the first time to try out your extension.
My local settings.json was overwritten without asking for confirmation or providing a backup.
This behavior is not ok. Now I have to try to remember the individual settings I had on this machine. You need to either provide a way to revert or ask for confirmation before overwriting.
The documentatio

[2019-06-29 22:06] bengartner opened #933 "Download settings fails on clean install (Ubuntu)"
Installed vscode fresh on Ubuntu, went to download my settings from my synced gist and got a "Sync: Error Logged in Console" which has text as such:

🌴 **Visual Studio Code Version :** 1.35.2
🌴 **Code Settings Sync Version :** Version: 3.3.1
🌴 **Standard or Insiders :** [ standard ]
🌴 **Portable or Installed :** [ installed ]
🌴 **OSS or Official Build :** [ official ]
🌴 **Operating System :** [ Ub

[2019-06-29 22:07] shanalikhan commented on #933
Read the troubleshooting page from the wiki

[2019-06-29 22:07] #933 closed

[2019-06-29 23:27] nova76 commented on #831
me too

[2019-06-30 17:41] qti3e commented on #506
Also, it's possible to use Firebase... I would be happy to work on this issue :)

[2019-06-30 17:47] janat08 commented on #506
Its like totally done, they decided to do some extra prep work.

[2019-07-01 08:58] pauloneill commented on #748
I'm getting the same error but my settings.json doesn't have a sync.gist - can I just add it manually?

[2019-07-01 09:14] pauloneill commented on #748
OK solved my problem: my User and Workspace settings had different GistI Ds even though I reset settings several times.
I fixed this by recreating my personal access token and updating my "master" settings then uploading.
On the target machine I reset everything and started from scratch then checked that my Gist IDs were both set to the new one ==> working!!!! 😄

[2019-07-01 09:24] shanalikhan commented on #831
Guys check out the [troubleshooting](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting) and see how the the different issues on how users were able to fix the thing.

You need to configure it correctly, documentation says it all.
But still you can perform different steps written over there to see how other people have fixed it.

I am always looking to improve the wiki and read

[2019-07-01 10:58] #713 closed

[2019-07-01 17:03] shanalikhan opened #935 "Code Refactoring"
Need to refactor the code similar to #822.
More generic code to allow anyone to add their own target by implementing common interfaces like `connect`, `upload` , `download`, `disconnect`.

Once it is done, we will add target as file system and allow users to import and export the configurations. #256

cc : @knyhle @arnohovhannisyan

[2019-07-01 17:09] shanalikhan opened #936 "Add Profiling for Hot Switch"
1. Create new Profiles
   a. Create new extensions and User folder
2. Remove profiles
   a. Delete extensions and User folder
3. Switch Profiles
   a. Allow user to select from multiple profiles and set those extensions and users folders and default working system for code.

Settings Sync will be auto installed on all of the Profiles

[2019-07-01 17:22] shanalikhan commented on #890
Duplicate of #256

[2019-07-01 17:22] #890 closed

[2019-07-02 08:00] jfBiswajit commented on #612
Having the same issue.

* OS: Windows 10
* VSC version: 1.35.1
* Extension version: 3.3.1

NB: Add custom sync file path also not working

[2019-07-02 08:04] arnohovhannisyan commented on #612
@jfBiswajit This is already fixed in v3.4.0. You can try this version to see if it fixes it: https://cdn.discordapp.com/attachments/549007146868539408/593317522242011147/code-settings-sync-3.3.1.vsix

Instructions: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2019-07-02 08:41] shanalikhan commented on #308
Instead of hot switch in same env.
New idea explained on #936

Displaying the list will be shipped on v3.4.0

[2019-07-02 09:31] shanalikhan commented on #935
The current version is defined in Global Settings and `environmentPath` file and in the release notes of UI. We need to replace them and let extension read the current version from package extension manifest file , api provided by code

[2019-07-03 00:02] LABCAT commented on #927
I also have this issue. I have tried uninstalling settings sync and reinstalling from the vsix file at the link above.  I also reset the "Settings Sync" settings to see if that would help but snippets still not showing in my gist.

Is there anything else I can try?

[2019-07-03 01:29] smileEvday opened #942 "vscode-setting"

[2019-07-03 01:30] #942 closed

[2019-07-03 02:25] sunhs commented on #927
Problem still exists with these steps:
- Sync: Reset extension settings
- Uninstall Sync
- Reinstall Sync from vsix

Here's my environment:
[code]

[2019-07-03 17:19] yuritoledo commented on #927
3.3.1 still not working.

3.2.9 it's ok.

[2019-07-03 17:59] Nielson commented on #831
I ran into this error as well. I thought I got the correct Gist ID. Turned out I took the ID from where I created the token, and not from the Gist itself.

[2019-07-05 12:56] yyman001 opened #946 "can not Download config"
🐛 **Describe the bug**
A clear and concise description of what the bug is. You are always welcome to check the [Troubleshooting](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting) section before filing the ticket.

🌴 **Visual Studio Code Version :** [ 13.6.0]
🌴 **Code Settings Sync Version :** [ 3.3.1]
🌴 **Standard or Insiders :** [ Standard ]
🌴 **Portable or Installed :** [ I

[2019-07-05 16:48] through-a-haze commented on #927
Had version 3.3.1 and it didn't work for me.
Didn't uninstall but simply reinstalled version 3.3.1 from the .vsix file above and now it works.

[2019-07-05 20:42] gdmachado opened #947 "Don't reset extension settings without confirmation"
🐛 **Describe the bug**
It would be nice if the extension showed a confirmation dialog before going through with the Reset Extension Settings option. Today I selected it by accident while trying to execute a different command from the palette, and it asked for no confirmation before resetting all my settings, forcing me to regenerate a GitHub access token.

[2019-07-07 09:15] gpgao commented on #829
please, i want to know how to remove the `sync.gist` setting from `settings.json` ?   is that delete the  `"token"` in the` synclocalsettings.json `,  if that's right, why i failed when i try upload again?

[2019-07-08 10:04] shanalikhan commented on #932
Restoring the settings to other backup is out of scope of this extension.
We are improve the upload experience that will resist user to replace the updated settings.

[2019-07-08 10:04] #932 closed

[2019-07-08 10:11] #745 closed

[2019-07-08 10:27] inwardmovement opened #949 "Cannot sync settings since 2 weeks"
Settings do not sync any more, can you help me please?

🌴 **Visual Studio Code Version :** 1.36.0
🌴 **Code Settings Sync Version :** 3.3.1
🌴 **Standard or Insiders :** standard
🌴 **Portable or Installed :** installed
🌴 **OSS or Official Build :** official
🌴 **Operating System :** windows
🌴 **Occurs On:** Upload (maybe Download but I don't want to try / fear of loosing my actual settings)
🌴 **Proxy

[2019-07-08 12:12] arnohovhannisyan commented on #949
@inwardmovement Can you try this build? https://cdn.discordapp.com/attachments/549007146868539408/597761688443289610/code-settings-sync-3.4.0.vsix

Instructions: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2019-07-08 14:27] marjorg commented on #927
@arnohovhannisyan I'm on 1.36.0 and it doesn't seem to sync snippets. It's the first time I try to sync snippets, so I'm not sure if it has worked previously. I can't see any errors in dev tools console.

[code]

[2019-07-08 14:29] arnohovhannisyan commented on #927
@marjorg Have you tried this? https://cdn.discordapp.com/attachments/549007146868539408/593317522242011147/code-settings-sync-3.3.1.vsix

[2019-07-08 15:09] robjvan commented on #927
Solved by switching to "syncing" extension, does the same thing but hasn't deleted my previously created snippets as of yet.

[2019-07-09 14:40] nguyendviet commented on #612
I have the same issue.
- OS: MacOS Version 10.14.5
- VSCode: Version 1.36.0
- Extension Version 3.3.1

[2019-07-09 14:45] nguyendviet opened #951 "Cannot sync Snippet"
🐛 **Describe the bug**
After uploading the gist, there's no Snippet folder. Related to #612 but it's CLOSED.

🌴 **Visual Studio Code Version :** [ Version 1.36.0 ]
🌴 **Code Settings Sync Version :** [ 3.3.1 ]
🌴 **Operating System :** [ MacOS Version 10.14.5 ]
🌴 **Occurs On:** [Upload ]
🌴 **Proxy Enabled:** [ No ]

📰 **To Reproduce**
Steps to reproduce the behavior:
1. Follow the manual [here](http

[2019-07-09 16:17] shanalikhan opened #952 "Problems in v3.4.0"
Issues in v3.4.0

1. `lastUpload` not updated
2. #316 is pending.

[2019-07-09 16:21] shanalikhan commented on #952
@arnohovhannisyan
I have fixed the critical issue, `lastUpload` was not updating as the code was removed after update process to update the settings.

I can still confirm, once you upload the changes and hit upload second time, although the settings are same it still upload once again. (#316) , https://github.com/shanalikhan/code-settings-sync/pull/944#issuecomment-509160395

Can you pull the late

[2019-07-09 16:28] shanalikhan commented on #951
Duplicate of #927

[2019-07-09 16:28] #951 closed

[2019-07-09 16:28] shanalikhan commented on #951
It will be fixed in next update. Thanks

[2019-07-09 16:52] arnohovhannisyan commented on #952
@shanalikhan

These are my exact steps:
[code]

1. Log in and download settings
2. Try to upload without changing anything
  a. The extension warned me that the gist contents were either newer or identical to local content.
3. Change some of my settings and upload again
  a. No warning
4. Upload again without changing anything
  a. Get the same warning

Note: `~/Downloads/code-1` is a portable ver

[2019-07-10 05:39] pr4shan7 commented on #927
@robjvan Just curious, is the snippet file still present in your gist on GitHub, or has it been deleted likewise? Only the snippet file in my gist was deleted while the file was still present on my local system after the upload.

[2019-07-10 07:29] jcklpe opened #954 "Settings sync keeps bothering me with a pop up to share my ID every single time I save a file and it auto uploads my settings"
It's super annoying. Hasn't done this before. Is this a new "feature"? Because it's suuuper annoying.

[2019-07-10 08:08] marjorg commented on #927
@arnohovhannisyan Nice, that works for me. Thanks!

[2019-07-10 11:26] shanalikhan commented on #954
Can you share the image of pop.

You can always turn off the `autoUpload` from the settings.

[2019-07-10 11:54] shanalikhan commented on #952
Try reproducing using these steps:

1. Reset or fresh Settings Sync installation and vscode Standard version
2. Login via Github and select the most recent [GIST](https://gist.github.com/shanalikhan/e86911443d3f81be6a66699603aee6dc). ( I'm using the attached one)
3. Upload the changes
4. Clear the summary output and hit upload again.
5. You will see it will upload again instead of showing the expe

[2019-07-10 12:07] shanalikhan commented on #952
Can you improve the WIKI.

I suggest
We need to remove the `Upload Your Settings For the first time` and instead use the process for the following

1. Configure the Settings Sync  ( with images attached )
   - Tell user Settings Sync require two things to setup i.e Github Token ID and GIST ID
   - Page will be opened automatically on Code start.
   - Process to get the Github Token
   - New GIST w

[2019-07-10 12:54] #954 closed

[2019-07-10 13:05] shanalikhan commented on #949
@inwardmovement
Can you check on the upcoming build by @arnohovhannisyan
If still doesnt work for you than i would suggest you to share your entire `User` folder in compressed file( removing private settings)

[2019-07-10 16:16] yubaoquan commented on #927
So how to get the deleted snippet files back?

[2019-07-10 16:36] danielo515 opened #955 "Correctly setup but error uploading"
Issue Type: <b>Bug</b>

After setting up the extension, this is what I get when I try to upload the settings for first time:

[code]

Extension version: 3.3.1
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)
OS version: Darwin x64 18.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz

[2019-07-10 16:37] shanalikhan commented on #955
Check the troubleshooting page from the wiki section.
You r not putting the right GIST ID or Token ID in the configuration

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Daniel Rodríguez Rivero <notifications@github.com>
Sent: Wednesday, July 10, 2019 9:36:34 PM
To: shanalikhan/code-settings-sync
Cc: Subscribed
Subject: [shanalikhan/code-settings-sync] Correctly

[2019-07-10 16:45] danielo515 commented on #955
The token is correct because you can see the last message says it's logged in as my user.
I was trying without gistId because I want to create a new one. In any case, I tried with an existing gistId and the result is also an error:

[code]

I'll try with a brand new token though.

[2019-07-10 16:47] danielo515 commented on #955
Yep, the problem was that the token that I was using had no access to gists.
Sorry

[2019-07-10 16:47] #955 closed

[2019-07-10 17:16] shanalikhan commented on #927
Here are the steps to get back to older version of GIST

[How to Revert to an earlier GIST](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting#how-to-revert-to-an-earlier-gist)

[2019-07-10 17:20] shanalikhan commented on #946
Check the [Troubleshooting](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting) there are details steps to fix the `Not Found` error. This is due to either invalid GIST ID or Github Token ID

[2019-07-10 17:20] #946 closed

[2019-07-10 17:21] shanalikhan commented on #858
Check [Solution for unable to connect to Github](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting#fix-sync-internet-not-connected-or-unable-to-connect-to-github-exception-logged-in-console-windows-only).

[2019-07-10 17:23] shanalikhan commented on #903
Check the [solution for unable to connect to github](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting#fix-sync-internet-not-connected-or-unable-to-connect-to-github-exception-logged-in-console-windows-only) here. It may help.

[2019-07-10 17:24] shanalikhan commented on #880
Check the [solution for unable to connect to github](https://github.com/shanalikhan/code-settings-sync/wiki/Troubleshooting#fix-sync-internet-not-connected-or-unable-to-connect-to-github-exception-logged-in-console-windows-only) here.

Let me know if it helped, i will close this ticket.

[2019-07-10 22:15] jcklpe commented on #954
@shanalikhan

Thank you, here is an image:

![image](https://user-images.githubusercontent.com/9451726/61008774-27096780-a336-11e9-9755-736055b88ce3.png)

I don't have a problem with it autouploading my settings. I actually prefer it to do that. It's the the pop up that find troublesome.

[2019-07-10 22:51] cycomachead commented on #949
🎉 Yay! Thanks! I was running into the same error and this build is working for me.

[2019-07-11 11:03] arnohovhannisyan commented on #952
@shanalikhan Currently, the wiki and `README.md` have pretty similar contents, but they both have to be updated when something changes. I propose that we just put a link to the wiki in `README.md` so we only have to maintain the wiki. What do you think?

[2019-07-11 11:09] shanalikhan commented on #954
Can you show your extension Global Settings , that are in User/custom sync settings.json file.
You can remove your token.
I need to reproduce to see.

[2019-07-11 15:11] shanalikhan commented on #952
@arnohovhannisyan

1. Have you tried those steps regarding auto Upload ? whats is the status.
2. We should only keep the Initial Setup or the User Manual inside the `README.md` and use the Github Wiki for advance guidelines ( e.g. sharing settings, using hosts and sync pragmas ) and for developer usage.

[2019-07-11 15:27] inwardmovement commented on #949
It seems ok with `3.4.0`, thanks!

Can I get rid of the `.vsix` and will the extension sync back with future updates?

[2019-07-11 15:27] #949 closed

[2019-07-11 15:31] arnohovhannisyan commented on #952
@shanalikhan

I have tried those steps many times and I get the expected result every single time. Can you try reproducing with a portable version of VSCode?

Get the portable version:
[code]

Run the extension:

[code]

[2019-07-11 15:54] shanalikhan commented on #949
v3.4.0 is in testing phase, will be released in a week or two.

[2019-07-11 16:15] shanalikhan commented on #308
Duplicate of #506

[2019-07-11 16:15] #308 closed

[2019-07-11 16:16] shanalikhan commented on #749
Duplicate of #506

[2019-07-11 16:16] #749 closed

[2019-07-11 16:18] shanalikhan commented on #443
@simonwiles Import / Export to Local Files is also on backlog -  #256.

Settings Sync will become one solution for all ( with time :) )

[2019-07-12 01:17] jcklpe commented on #954
You're asking for my global settings.js right?

Here's a link to the gist https://gist.github.com/jcklpe/1bed6c262105cbde0f3f857a7fae6163

[2019-07-13 20:02] octogonz commented on #396
@shanalikhan I need to know when my settings are changing.  I'm not sure I would want it to happen automatically in the background.  For example, what if I need to temporarily change a setting, but then later I want to revert to the synced version?

It seems like there should be 3 commands:
- **"Sync"**:  Compares the local settings against the server.  Performs **Upload** if the local settings ha

[2019-07-15 10:29] shanalikhan commented on #952
I have released the `v3.4.0`.

Let me know if there is any issue, i will release new version fixing this.

[2019-07-15 10:30] shanalikhan commented on #931
v3.4.0 is released and this has been fixed.
Update the extension and let me know if there is any issue.

[2019-07-15 10:30] #931 closed

[2019-07-15 10:31] shanalikhan commented on #927
v3.4.0 is released and this has been fixed.
Update the extension and let me know if there is any issue.

[2019-07-15 10:31] #927 closed

[2019-07-15 10:34] shanalikhan commented on #390
v3.4.0 is released containing this fix.
Let me know if you run into issue

[2019-07-15 10:34] #390 closed

[2019-07-15 10:37] #952 closed

[2019-07-15 10:39] shanalikhan commented on #506
v3.4.0 is released containing this feature by @arnohovhannisyan
Update this extension. Let us know what you think and where we can improve the UI.

[2019-07-15 10:50] shanalikhan commented on #443
I'm closing this issue and marking it as duplicate to #413

Settings Sync will only contain three interfaces.

1. Github Gist
2. File Import / Export
   - You can improve/ setup it with your google drive or dropbox later on by putting locations or import / export on that folder.
3. Git Repo
   - Mainly support Github and Gitlab but anyone can use their own git platform.

[2019-07-15 10:50] #443 closed

[2019-07-15 10:50] shanalikhan commented on #443
Duplicate of #413

[2019-07-15 12:03] shanalikhan commented on #350
v3.4.0 has been fixed with this fix.
Let me know if there is any issue.

[2019-07-15 12:07] shanalikhan commented on #396
@octogonz

Nice catch. Yes it doesnt support this functionality, let me see how we can introduce this in upcoming versions.

[2019-07-15 12:14] shanalikhan opened #956 "Documentation"
1. Improve the `Readme.md`  with the new UI changes introduced - PR Required
2. Improve the Github Wiki - ( anyone can improve that wiki )
3. Update the Github Page Wiki and Other Blog posts with new changes

[2019-07-15 14:39] yyman001 opened #958 "add feat save config for github project?"
💡 **Is your feature request related to a problem? Please describe.**
use plug for my home is error forevery!!!!
💡 **Describe the solution you'd like**
can you add feat save `config.json`  to github project ? do not use gists, i dont konw why it link error.
    Here's my suggestion. Thank you!!!
💡 **Additional context**
nothing~

[2019-07-15 18:46] raingart opened #959 "how to turn off notification of a new version?"
Quite often, when you turn on, a notification about a new minor version appears. It is so good that the extension is developing, but as an ordinary user it is not interesting for me to be on the pulse and so well working expansion.

I understand that this way you are trying to expand your active user base. But as for me it becomes annoying.

[2019-07-16 06:20] wzdxy commented on #959
The `What's New in v3.4.0` page appeared  every time then I open a new window.
I had to watch it for a dozen times today ...

[2019-07-16 06:23] shanalikhan commented on #959
@arnohovhannisyan can we configure it with configuration to hide the message even when not configured on startup

[2019-07-16 06:25] arnohovhannisyan commented on #959
@shanalikhan Sure, we can use global state to hide it like the `Gist Newer` dialog.

[2019-07-16 06:26] shanalikhan commented on #959
Yes, can you send PR. I will release v3.4.1 fixing it.

[2019-07-16 07:44] GijsGoudzwaard commented on #954
I'm experiencing the same issue even though I have `Quiet sync` enabled. Each time I modify a setting or download a new plugin this popup shows.

[2019-07-16 12:58] alkurop opened #963 ""Settings sync" screen appears"
"Settings sync" screen appears on every time I start vscode.
I already removed your plugin but it still appears.
I hate it.
How do i get rid of it?
Very annoying

[2019-07-16 13:02] arnohovhannisyan commented on #963
@alkurop Can you make sure that you've properly removed the extension? This can't happen if you did.

[2019-07-16 17:23] jameswilliamiii commented on #963
I tried to uninstall it and the uninstall fails.  Same with disable. I ended up having to manually remove the extension.  On a mac you can run `rm -rf ~/.vscode/extensions/shan.code-settings-sync-3.4.0`.  Just make sure the version in the extension name matches what version is on your machine.

[2019-07-16 22:10] bkbonner commented on #963
Yep, shows up every time I restart vscode.   :(

[2019-07-17 09:15] swiftouch commented on #689
I "love" this extension. Its a brilliant disaster. Works fine on one device. Cant get it to work on the other. If MS would just make a built in official version that wasn't 3rd party and actually worked, we could all get back to being productive. ....Instead of spending countless hours browsing the DOZENS of github threads people have created over the years saying they have issues with this extens

[2019-07-17 14:54] NuroDev commented on #963
Is there no way to stop it from opening every time? I like Settings Sync and want to keep it but this screen opening every time I open VS Code is really irritating!

[2019-07-17 14:57] shanalikhan commented on #963
Yes, we are planning to fix this issue in next version.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: N U R O ™ <notifications@github.com>
Sent: Wednesday, July 17, 2019 7:54:41 PM
To: shanalikhan/code-settings-sync
Cc: Subscribed
Subject: Re: [shanalikhan/code-settings-sync] "Settings sync" screen appears (#963)

Is there no way to stop it from opening every t

[2019-07-17 18:48] joecarney commented on #963
Same for me. Very annoying for an otherwise excellent extension. Would be better if you could release a hotfix for this instead of planning a fix in the next version 😉

[2019-07-17 21:57] emezav commented on #963
Until it's fixed, you should try this dirty hack...

Open ~/.vscode/extensions/shan.code-settings-sync-3.4.0/out/extension.js.

Search for:

OpenLandingPage=function()

It should look like this:

e.prototype.OpenLandingPage=function(){var e=this,t=this.webviews[0]

Add "return;" After the opening braces and before everything else:

e.prototype.OpenLandingPage=function(){return;var e=this,t=this.we

[2019-07-18 01:51] k1nghat commented on #963
i have a different issue but even if i uninstall and also remove the extension from `~/.vscode/extensions/` when i install again, i dont get the regular setup procedure. is there some cache i dont know about?

[2019-07-18 01:58] k1nghat opened #968 "didnt auto generate gist on fresh install with code-insiders snap package"
🐛 **Describe the bug**
tried to add sync to code-insiders snap package and it authed with github just fine but it didnt auto create a gist when i selected that option.

🌴 **Visual Studio Code Version :**
Version: 1.37.0-insider
Commit: 112fa76c775ecb79ac2c9e9e5dba0d711d523543
Date: 2019-07-17T05:29:16.474Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x

[2019-07-18 04:06] shanalikhan commented on #968
@arnohovhannisyan can you look into this

[2019-07-18 11:01] shanalikhan commented on #506
As it was released on v3.4.0
Closing this ticket.

[2019-07-18 13:03] #506 closed

[2019-07-18 13:08] shanalikhan commented on #958
There is already issue opened to save the configuration in Github Repo.

[2019-07-18 13:08] #958 closed

[2019-07-18 15:02] k1nghat commented on #968
after i clicked the auto generate gist it took me to the settings ui and there was no gist string in the gist field and is unclear that anything happen or should happen. i check my gists and there was nothing new there.

[2019-07-18 15:04] arnohovhannisyan commented on #968
@k1nghat

To reset, run `>Sync: Reset Extension Settings` in the command palette.

[2019-07-18 15:23] k1nghat commented on #968
1. installed extension again.
2. ran `>Sync: Reset Extension Settings`.
3. clicked `login with github`(was already/still auth'd and got success page).
4. clicked auto generate gist and it took me back to the main setup page w/o creating anything on gist.

fyi i also have settings-sync working with its own gist on a regular, non insiders/snap, install of code.

[2019-07-18 15:28] adrn commented on #968
FWIW I'm seeing the same issue - no gist is created.

[2019-07-18 15:54] arnohovhannisyan commented on #968
@k1nghat @adrn As I mentioned before, the gist is currently created on the first upload. Please upload with no gist id set to create a new one automatically.

[2019-07-18 16:08] k1nghat commented on #968
ah, got ya. ya it seems to be working fine then. though, the flow could be better i guess.
1. install.
2. auth.
3. select already created gist or auto generate one.
4. auto generate selection takes you to settings page with more used options at the top(setting the description).
5. visually explaining at the top or showing that you need to upload or click save for it to upload for the first time.

[2019-07-18 16:10] shanalikhan commented on #968
@k1nghat If you think we can improve the documentation, feel free to send PR to improve the readme.

[2019-07-18 16:34] k1nghat commented on #968
i dont think its a documentation issue. if you select something that says auto generate i get the impression that its going to take care of uploading and generating a gist for me, at least initially. having the option to set some settings before that happens is a little bit more confusing but is a bonus for ppl who want/need some customization before the initial setup completes.

[2019-07-18 20:10] borekb commented on #350
Great to hear! How is this fixed?

[2019-07-18 23:26] bashfulrobot opened #970 "Login to Github button not working"
🐛 **Describe the bug**
I am running the i3 window manager on Ubuntu 18.04 w/ vscode. This was a new install, and I had added the vscode snap package; followed by adding the latest settings sync. When I press the "login to github" button displayed on the settings sync page; no login window is ever displayed.

🌴 **Visual Studio Code Version :** `$ code --version` 1.36.1 x64
🌴 **Code Settings Sync Ve

[2019-07-19 07:00] shanalikhan commented on #970
@bashfulrobot  Is there any exception logged on Developer console inside code ?

@arnohovhannisyan

[2019-07-19 08:12] shanalikhan commented on #963
We have found some other things to improve the Setup Guide and making the UX more better. Hold on we will release in next days. :)

thanks for patience, i'm getting alot of bad reviews and emails mentioning this thing only :smile:

[2019-07-19 08:17] shanalikhan commented on #968
Yes you are right, we are improve the UX.
Will release the hotfix in few days.

[2019-07-19 08:17] #968 closed

[2019-07-19 08:32] joecarney commented on #963
I'm not surprised.

This is why (if I were you) I'd release a hotfix to stop this bug and bad reviews happening, then make your improvements 😞

[2019-07-19 08:32] arnohovhannisyan commented on #970
@bashfulrobot

Just click on `Edit Configuration` and input your user token and gist id. The `Login with GitHub` button basically just does that using OAuth instead of the user manually inputting the values.

This issue might have to do with your i3 config. The `Login with GitHub` button just opens the default web browser using a VSCode API, so maybe your web browser might be bound to open on a sp

[2019-07-19 15:41] #970 closed

[2019-07-19 20:35] tibmeister opened #973 "GitHub Enterprise Issue"
🐛 **Describe the bug**
When trying to sync to GitHub Enterprise, receiving an error of HttpError.  Looking at the Developer Tools -> Console only has the following information:

[Extension Host] HttpError    at module.exports.then.t.text.then.t (c:\Users\tibmeister\.vscode\extensions\shan.code-settings-sync-3.4.0\out\extension.js:767:736)    at process._tickCallback (internal/process/next_tick.js:

[2019-07-19 22:40] ccinelli opened #974 "Syncing print Github token."
The Github token should not be displayed in console.

[code]

Consider encrypting the token in setting too.

[2019-07-19 23:56] ccinelli opened #975 "Refactor sync.ts to support multiple storages"
#256 and #413 would be easier to achieve if `sync.ts` used and abstract `storage` class that can be implemented to store and restore from GIST, GIT REPOS, LOCAL FILES, GOOGLE DRIVE etc.

Can you also please increasing coverage with the tests otherwise the risk of regressions is very high.

[2019-07-20 19:52] shanalikhan commented on #975
Duplicate of #935

[2019-07-20 19:52] #975 closed

[2019-07-21 08:27] shanalikhan commented on #974
Since now Settings Sync automatically retrieves token from Github Application. I think its safe to remove from the summary.

[2019-07-21 08:35] shanalikhan commented on #350
If you have older settings in your computer comparing with updated Gist settings that were uploaded from other computer. It will not allow you to upload unless you download your settings first or select `forceUpload` to replace that Gist Settings.

[2019-07-21 12:47] borekb commented on #350
Sounds great, thanks!

[2019-07-22 09:29] inwardmovement opened #977 "Open Show "Share ID" Message when new Public Gist is created"
Every time I open VSCode I have this notification:

How can I get rid of it permanently?

---------

🌴 **Visual Studio Code Version :** 1.36.1
🌴 **Code Settings Sync Version :** 3.4.1
🌴 **Standard or Insiders :** Standard
🌴 **Portable or Installed :** Installed
🌴 **OSS or Official Build :** Official Build
🌴 **Operating System :** Windows 10
🌴 **Occurs On:** "Sync uploaded successfully" (each sync)

[2019-07-22 09:32] shanalikhan commented on #977
Can you post your Settings Sync global settings.

https://github.com/shanalikhan/code-settings-sync#global-settings

[2019-07-22 09:39] inwardmovement commented on #977
Here they are:

[code]

[2019-07-22 11:09] #350 closed

[2019-07-22 11:10] shanalikhan commented on #959
It is fixed in `v3.4.1`. Let us know in case of query.

[2019-07-22 11:10] #959 closed

[2019-07-22 11:11] shanalikhan commented on #963
There was a delay due to other issues during setup. We have improved the UX alot. It is fixed in `v3.4.1`. Let us know in case of query.

[2019-07-22 11:11] #963 closed

[2019-07-22 11:58] raingart commented on #959
@shanalikhan thanks

[2019-07-22 12:56] borekb opened #978 "'Download' doesn't install missing extensions"
Steps to reproduce:

1. Have a couple of extensions.
2. Upload settings to Gist.
3. Uninstall one of the extensions.
4. Invoke the **Sync: Download Settings** command.

I'd expected that the missing extension would be installed. Instead, I see this in the status bar:

[2019-07-22 12:58] Drae opened #979 "Uploading settings when working using VSCode remote misses remotely installed extensions"
🐛 **Describe the bug**

I use the new VSCode remote capabilities (https://github.com/Microsoft/vscode-remote-release) an awful lot. Predominantly for WSL but also SSH. Using this a lot of "active" extensions required for coding must be installed on the remote system, e.g. linting, execution, debugging, etc.

If I do an upload of settings sync when using the new vscode remote capabilities settings

[2019-07-22 13:08] shanalikhan commented on #978
For now, i suggest you to enable `Force Download`.
Thats an improvement we need to look into.

[2019-07-22 13:10] shanalikhan commented on #979
I think its limited by API. I suggest you to open issue on vscode repo to see their response.

I haven't got a change to use  VSCode remote capabilities so it will take time for me to look into it or someone can send PR :smile:

[2019-07-22 15:17] borekb commented on #978
Could that be a command instead of a config? It's a one-off thing for me (similarly to `git push --force` – I need a command / flag for it, not a config option). But that's probably off-topic, thanks for the suggestion!

[2019-07-22 18:57] dreznicek commented on #963
Upgraded to 3.4.1, yet still I get the `Settings Sync` screen.

[2019-07-22 19:08] shanalikhan commented on #963
U can disable it using the checkbox in the bottom right corner

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Daniel Reznicek <notifications@github.com>
Sent: Monday, July 22, 2019 11:57:13 PM
To: shanalikhan/code-settings-sync
Cc: Shan Khan; State change
Subject: Re: [shanalikhan/code-settings-sync] "Settings sync" screen appears (#963)

Upgraded to 3.4.1, yet

[2019-07-23 08:13] inwardmovement commented on #977
Fixed in `3.4.1`, thanks!

[2019-07-23 08:16] inwardmovement commented on #977
The notification showed again, sorry.

[2019-07-23 08:26] willstocks opened #980 "Uninstalled extension keeps redownloading"
🐛 **Describe the bug**
I recently uninstalled an extension and sync appeared to start doing its thing (which I assumed was upload my new settings/extensions), however when I jumped in to my extensions list a little while later, I noticed that the extension was back in the list! So, I deleted it again, waited a few seconds for sync to complete and it reappeared. It looks like the "download" process

[2019-07-23 09:47] joecarney commented on #963
Upgraded to v3.4.1, unchecked the checkbox bottom right still getting this welcome screen.  Am going to uninstall it 😞

[2019-07-23 09:48] shanalikhan commented on #963
have you reset the settings? after unchecking it.
It should not appear once you uncheck the checkbox until you reset the settings.

[2019-07-23 09:49] joecarney commented on #963
This welcome screen is a really bad idea anyway, no idea why it should even be there. Extensions should be invisible in the background.  If I want to know more I can go to the extension and check out the home page

[2019-07-23 09:52] joecarney commented on #963
I don't know what you mean by "reset the settings".  I unchecked the box, quit and opened again. Then checked it, quit and opened again, then unchecked it, quit and opened again.  No matter what I did it kept appearing.  I've removed it now.  May reinstall at a later date if I need to sync between machines.

[2019-07-23 10:40] shanalikhan commented on #963
Okay, let me explain the steps.

1. Settings Sync UI will appear on startup automatically when you don't have Github token setup.
2. It will appear on upload/download when you have not configured Github token.
3. You can always disable the startup UI appearance while unchecking the `Don't Show at Startup` on the bottom right. It will disable startup appearance and will only show UI on upload/downl

[2019-07-23 13:50] shanalikhan commented on #963
Duplicate of #959

[2019-07-23 14:06] shanalikhan commented on #977
alright, pls post the gist ID

[2019-07-23 14:07] inwardmovement commented on #977
`1b8b7717469c2648bacb57a1498dd84e`

[2019-07-23 14:09] shanalikhan commented on #977
Can you post the details with the proper issue template so I can see the reproducing steps , happeing on upload / download etc. I have updated your main post so you can fill it up.

[2019-07-23 17:30] inwardmovement commented on #977
Ok thanks, done

[2019-07-23 17:47] mashwanimq opened #982 "Exclude Settings/Extensions from Sync"
💡 **Is your feature request related to a problem? Please describe.**
There are some settings and extensions that I don't want to sync.

💡 **Describe the solution you'd like**
I want a setting that can be configured in settings.json that allows me to specify extension and setting names that I don't want synced. If a setting or extension is added to this list I want it removed from gist.

💡 **Additi

[2019-07-23 17:48] shanalikhan commented on #982
1. Ignore Settings

https://github.com/shanalikhan/code-settings-sync/wiki/Sync-Pragmas

2. Ignore Extensions

You can ignore extension by writing its identifier in `ignoredExtensions` in global settings of settings sync ( see readme )

[2019-07-23 17:48] #982 closed

[2019-07-23 20:19] chris-pearce commented on #745
I am also getting this, I tried all the suggestions and none of them worked.

[2019-07-24 07:55] allenyllee commented on #396
Hi @shanalikhan , I have a similar problem.

Suppose I have 2 PCs, called "HOME-PC" and "WORK-PC", both have VScode opened. When I worked on WORK-PC, change some settings and upload (by auto-upload), I have no way to notify HOME-PC to do the download (because auto-download only trigger on vscode startup).

I think the auto-download function should polling the gist repo every 5 mins to detect chang

[2019-07-24 10:03] shanalikhan commented on #396
@allenyllee
The problem you both have mentioned is out of scope for this issue.
Can you open new issue detailing the scenarios so we can look into later on.

[2019-07-24 10:14] shanalikhan commented on #980
Can you post your settings for `sync.*` inside Settings Sync and Global Settings for Settings Sync.

[2019-07-24 15:09] willstocks-tech commented on #980
Hi @shanalikhan

I was looking through my settings earlier and noticed that "Force Download" was enabled. I have tried disabling this (as I do not want to enable "Force Upload") and weirdly, noticed that when I download a new extension within VSCode, the Auto Upload isn't triggering for some reason... However when I _uninstall_ the auto upload appears to trigger without an issue.

The auto upload

[2019-07-24 20:57] Nipodemos opened #983 "Can't select gist file to upload/download settings"
🐛 **Describe the bug**
I had already used this a few day ago and worked fine. Now I've formatted my PC and trying to use that awnsome plugin to help. But for some random reason it doesn't appear the option to select the gist (nor to skip and create other)
Downloading a public gist worked fine.

🌴 **Visual Studio Code Version :** 1.36.1
🌴 **Code Settings Sync Version :** 3.4.1
🌴 **Standard or Insid

[2019-07-24 21:03] shanalikhan commented on #983
@arnohovhannisyan what do you think ? can you look into it.
Can we improve the exception handling for UI.